<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<h:head>
	<h:outputStylesheet library="css/pages" name="general-card.css" />
</h:head>


<ui:decorate template="/template/masterTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{generalController.id}' />
		<f:event type="preRenderView"
			listener="#{generalController.preRenderView()}" />
	</f:metadata>

	<ui:param name="maintitle" value="#{app.general}"></ui:param>

	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item"><h:link outcome="general-list">#{app.general}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{generalController.general.accountNumber}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">

		<o:massAttribute name="disabled" value="#{!generalController.canEdit}">

			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<i class="icon fa fa-user-o icon-panel"
							style="float: left; margin-right: 8px;"></i>
						<h5>#{app.general}</h5>
						<div class="ibox-tools">
							<a class="collapse-link" data-toggle="collapse"
								data-target="#main-info" aria-expanded="true"> <i
								class="fa fa-chevron-up icon-panel"></i> <i
								class="fa fa-chevron-down icon-panel"></i>
							</a>
							<div class="tools-item"></div>
						</div>
						<!-- ibox-tools -->
					</div>
					<!-- / ibox-title -->
					<div class="ibox-content collapse show" id="main-info"
						aria-expanded="true" style="">

						<div class="widgets-container">
							<div class="form-group">
								<div class="col-md-6">
									<h:panelGroup
										rendered="#{generalController.general.id == null}">
										<div class="row margin-top-two">
											<div class="col-md-4">
												<h:outputLabel for="selectedAccountTree"
													styleClass="control-label" value="#{app.account_number}:" />
											</div>
											<div class="col-md-8">
												<p:selectOneMenu id="accountTree"
													value="#{generalController.selectedAccountTree}"
													filterMatchMode="contains" filter="true"
													converter="#{accountTreeConverter}">
													<f:selectItem />
													<f:selectItems value="#{generalController.allAccountTrees}"
														var="item" itemValue="#{item}"
														itemLabel="#{item.displayName}" />
												</p:selectOneMenu>
											</div>
										</div>
									</h:panelGroup>
									<!-- 									<div class="row margin-top-two"> -->
									<!-- 										<div class="col-md-4"> -->
									<!-- 											<h:outputLabel for="id" styleClass="control-label" -->
									<!-- 												value="#{app.account_number}:" /> -->
									<!-- 										</div> -->
									<!-- 										<div class="col-md-8"> -->
									<!-- 											<h:inputText id="id" styleClass="form-control" -->
									<!-- 												value="#{generalController.general.id}" /> -->
									<!-- 										</div> -->
									<!-- 									</div> -->
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="generalName" styleClass="control-label"
												value="#{app.name}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="generalName" styleClass="form-control"
												value="#{generalController.general.name}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="generalCurrency"
												styleClass="control-label" value="#{app.currency}:" />
										</div>
										<div class="col-md-8">
											<p:selectOneMenu id="generalCurrency"
												value="#{generalController.general.currency}">
												<f:selectItem itemValue="DOLAR" itemLabel="$" />
												<f:selectItem itemValue="LIRA" itemLabel="LL" />
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="generalAddress"
												styleClass="control-label" value="#{app.address}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="generalAddress" styleClass="form-control"
												value="#{generalController.general.address}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="generalPhoneNumber"
												styleClass="control-label" value="#{app.phone_number}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="generalPhoneNumber"
												styleClass="form-control"
												value="#{generalController.general.phoneNumber}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="personInCharge"
												styleClass="control-label" value="#{app.person_in_charge}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="personInCharge" styleClass="form-control"
												value="#{generalController.general.personInCharge}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="generalNote" styleClass="control-label"
												value="#{app.notes}:" />
										</div>
										<div class="col-md-8">
											<h:inputTextarea id="generalNote" styleClass="form-control"
												value="#{generalController.general.notes}" />
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


		</o:massAttribute>

		<!-- Note modal -->

	</ui:define>


	<ui:define name="contentFooter">
		<o:massAttribute name="disabled" value="#{!generalController.canEdit}">
			<h:commandLink styleClass="btn btn-success btn-sm pull-left"
				id="SaveFormId" action="#{generalController.save()}">
				<h:outputText styleClass="white" value="#{app.save}" />
				<f:ajax execute="@form" render="growl" />
			</h:commandLink>
		</o:massAttribute>
	</ui:define>



</ui:decorate>
</html>
