<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:param name="maintitle" value="#{app.change_account_id}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.change_account_id}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.change_account_id}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">

		<p:dataTable value="#{changeAccountIdController.allAccounts}"
			var="item" id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" paginator="true" paginatorPosition="bottom"
			paginatorAlwaysVisible="false"
			rowsPerPageTemplate="50,100,200,500,1000" rows="50"
			widgetVar="itemVar" draggableColumns="true">

			<p:column headerText="#" width="50">#{rowIndex + 1}</p:column>

			<p:column width="30" style="text-align: center">
				<h:commandLink styleClass="btn btn-sm btn-primary"
					action="#{changeAccountIdController.onDialogOpen(item)}">
					<i class="fa fa-pencil white no-background"></i>
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column filterBy="#{item.accountNumber}"
				sortBy="#{item.accountNumber}" filterMatchMode="contains"
				width="120">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.account_number}" />
				</f:facet>
				<h:outputText value="#{item.accountNumber}"
					title="#{item.accountNumber}" styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.name}" sortBy="#{item.name}"
				filterMatchMode="contains" width="120">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.account_name}" />
				</f:facet>
				<h:outputText value="#{item.name}" title="#{item.name}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.dtype}" sortBy="#{item.dtype}"
				filterMatchMode="contains" width="120">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.account_type}" />
				</f:facet>
				<h:outputText value="#{item.dtype}" title="#{item.dtype}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.currency}" sortBy="#{item.currency}"
				filterMatchMode="contains" width="120">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.currency}" />
				</f:facet>
				<h:outputText value="#{item.currency}" title="#{item.currency}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.notes}" sortBy="#{item.notes}"
				filterMatchMode="contains" width="120">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.notes}" />
				</f:facet>
				<h:outputText value="#{item.notes}" title="#{item.notes}"
					styleClass="text-truncate" />
			</p:column>

		</p:dataTable>


		<p:dialog id="accountDialog" widgetVar="accountDialogVar" modal="true"
			closable="false" resizable="false" closeOnEscape="true"
			draggable="false" visible="false">
			<h:panelGroup id="accountDialog-panelGroup">
				<h:inputText styleClass="form-control"
					value="#{changeAccountIdController.selectedAccountId}" />
			</h:panelGroup>

			<f:facet name="footer">
				<h:commandLink styleClass="btn btn-success margin-left-half"
					action="#{changeAccountIdController.onDialogClose()}">
					<h:outputText value="#{app.ok}" styleClass="white" />
					<f:ajax execute="accountDialog-panelGroup" />
				</h:commandLink>
				<h:commandLink styleClass="btn btn-danger"
					onclick="PF('accountDialogVar').hide()">
					<h:outputText value="#{app.cancel}" styleClass="white" />
					<f:ajax />
				</h:commandLink>
			</f:facet>
		</p:dialog>

	</ui:define>


</ui:decorate>
</html>
