<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">

	<ui:param name="maintitle" value="import from Excel"></ui:param>
	<ui:param name="pageSubTitle" value="import from Excel"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>import from
				excel</strong></li>
	</ui:define>

	<ui:define name="contentInForm">
		<h2>Tickets</h2>
		<p:fileUpload value="Chooose Tickets"
			fileUploadListener="#{importFromExcelController.importTicketsFromExcel}"
			mode="advanced" />
		<h2>Bills</h2>
		<p:fileUpload value="Chooose Bills"
			fileUploadListener="#{importFromExcelController.importbillFromExcel}"
			mode="advanced" />
		<h2>Rv</h2>
		<p:fileUpload value="Chooose Rv"
			fileUploadListener="#{importFromExcelController.importRvFromExcel}"
			mode="advanced" />
		<h2>Pv</h2>
		<p:fileUpload value="Chooose Rv"
			fileUploadListener="#{importFromExcelController.importPvFromExcel}"
			mode="advanced" />
		<h2>Jv</h2>
		<p:fileUpload value="Chooose Rv"
			fileUploadListener="#{importFromExcelController.importJvFromExcel}"
			mode="advanced" />


	</ui:define>

</ui:decorate>
</html>
