<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:param name="maintitle" value="#{app.cashes}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.cashes}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.cashes}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">

		<p:dataTable value="#{cashListController.allCashs}" var="item"
			id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" paginator="true" paginatorPosition="bottom"
			paginatorAlwaysVisible="false"
			rowsPerPageTemplate="50,100,200,500,1000" rows="50"
			widgetVar="itemVar" draggableColumns="true">

			<p:column headerText="#" width="100">#{rowIndex + 1}</p:column>

			<p:column width="30" style="text-align: center">
				<p:commandLink styleClass="" title="#{app.delete}" process="@this"
					update="growl" oncomplete="PF('itemVar').filter()"
					actionListener="#{cashListController.delete(item)}">
					<i class="fa fa-trash alert-danger no-background"></i>
					<p:confirm header="#{app.confirmation}"
						message="#{app.msg_are_you_sure_to_delete}" icon="ui-icon-alert" />
				</p:commandLink>
			</p:column>


			<p:column filterBy="#{item.accountNumber}"
				sortBy="#{item.accountNumber}" filterMatchMode="contains"
				width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.account_number}" />
				</f:facet>
				<h:link styleClass="card-link" outcome="cash-card">
					<h:outputLabel value="#{item.accountNumber}"
						title="#{item.accountNumber}" styleClass="text-truncate" />
					<f:param name="id" value="#{item.id}" />
				</h:link>
			</p:column>

			<p:column filterBy="#{item.name}" sortBy="#{item.name}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.name}" />
				</f:facet>
				<h:link styleClass="card-link" outcome="cash-card">
					<h:outputLabel value="#{item.name}" title="#{item.name}"
						styleClass="text-truncate" />
					<f:param name="id" value="#{item.id}" />
				</h:link>
			</p:column>

			<p:column filterBy="#{item.currency}" sortBy="#{item.currency}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.currency}" />
				</f:facet>
				<h:outputLabel value="#{item.currency}" title="#{item.currency}"
					styleClass="text-truncate" />
			</p:column>


			<p:column filterBy="#{item.notes}" sortBy="#{item.notes}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.notes}" />
				</f:facet>
				<h:outputLabel value="#{item.notes}" title="#{item.notes}"
					styleClass="text-truncate" />
			</p:column>

		</p:dataTable>


		<p:confirmDialog global="true">
			<p:commandButton value="#{app.yes}" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="#{app.no}" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>

	</ui:define>

	<ui:define name="contentFooter">
		<div class="pull-left">
			<h:link outcome="cash-card" target="_blank"
				styleClass="btn btn-success btn-sm">
				<h:outputLabel value="#{app.new_card}" styleClass="white" />
			</h:link>
		</div>
	</ui:define>


</ui:decorate>
</html>
