<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<h:head>
	<h:outputStylesheet library="css/pages" name="cash-card.css" />
</h:head>


<ui:decorate template="/template/masterTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{cashController.id}' />
		<f:event type="preRenderView"
			listener="#{cashController.preRenderView()}" />
	</f:metadata>

	<ui:param name="maintitle" value="#{app.cash}"></ui:param>

	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item"><h:link outcome="cash-list">#{app.cashes}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{cashController.cash.accountNumber}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">
		<o:massAttribute name="disabled" value="#{!cashController.canEdit}">

			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<i class="icon fa fa-user-o icon-panel"
							style="float: left; margin-right: 8px;"></i>
						<h5>#{app.cash}</h5>
						<div class="ibox-tools">
							<a class="collapse-link" data-toggle="collapse"
								data-target="#main-info" aria-expanded="true"> <i
								class="fa fa-chevron-up icon-panel"></i> <i
								class="fa fa-chevron-down icon-panel"></i>
							</a>
							<div class="tools-item"></div>
						</div>
						<!-- ibox-tools -->
					</div>
					<!-- / ibox-title -->
					<div class="ibox-content collapse show" id="main-info"
						aria-expanded="true" style="">

						<div class="widgets-container">
							<div class="form-group">
								<div class="col-md-6">
<!-- 									<div class="row margin-top-two"> -->
<!-- 										<div class="col-md-4"> -->
<!-- 											<h:outputLabel for="id" styleClass="control-label" -->
<!-- 												value="#{app.account_number}:" /> -->
<!-- 										</div> -->
<!-- 										<div class="col-md-8"> -->
<!-- 											<h:inputText id="id" styleClass="form-control" -->
<!-- 												value="#{cashController.cash.id}" /> -->
<!-- 										</div> -->
<!-- 									</div> -->
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="cashName" styleClass="control-label"
												value="#{app.name}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="cashName" styleClass="form-control"
												value="#{cashController.cash.name}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="cashCurrency" styleClass="control-label"
												value="#{app.currency}:" />
										</div>
										<div class="col-md-8">
											<p:selectOneMenu id="cashCurrency"
												value="#{cashController.cash.currency}">
												<f:selectItem itemValue="DOLAR" itemLabel="$" />
												<f:selectItem itemValue="LIRA" itemLabel="LL" />
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="cashNote" styleClass="control-label"
												value="#{app.notes}:" />
										</div>
										<div class="col-md-8">
											<h:inputTextarea id="cashNote" styleClass="form-control"
												value="#{cashController.cash.notes}" />
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


		</o:massAttribute>

		<!-- Note modal -->

	</ui:define>


	<ui:define name="contentFooter">
		<o:massAttribute name="disabled" value="#{!cashController.canEdit}">
			<h:commandLink styleClass="btn btn-success btn-sm pull-left"
				id="SaveFormId" action="#{cashController.save()}">
				<h:outputText styleClass="white" value="#{app.save}" />
				<f:ajax execute="@form" render="growl" />
			</h:commandLink>
		</o:massAttribute>
	</ui:define>



</ui:decorate>
</html>
