<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:define name="contentInForm">

		<div class="middle-box text-center  error-wrapper">
			<h1 class="head">404</h1>
			<h3 class="font-bold">Page Not Found</h3>
			<div class="error-desc">
				Sorry, but the page you are looking for has not been found. Try
				checking the URL for error, then hit the refresh button on your
				browser or try found something else in our app.
				
			</div>
		</div>

	</ui:define>


</ui:decorate>
</html>
