<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:define name="contentInForm">

		<div class="middle-box text-center  error-wrapper">
			<h1 class="head">500</h1>
			<h3 class="font-bold">Internal Server Error</h3>
			<div class="error-desc">
				The server encountered something unexpected that didn't allow it to
				complete the request. We apologize.<br />
			</div>
		</div>

	</ui:define>


</ui:decorate>
</html>
