.accountingTree-headerButton {
	position: relative;
	right: 49%;
}

.ui-treetable .ui-treetable-toggler {
	float: right !important;
	margin-top: 2px !important;
}

.ui-cell-editor {
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

.ui-row-editor .ui-row-editor-pencil {
	margin-left: 8px;
}

.ui-editable-column .ui-cell-editor-input {
	overflow: hidden;
}

.ui-editable-column .ui-cell-editor-input * {
	box-sizing: border-box;
}

.ui-radiobutton-icon {
	position: relative !important;
	bottom: 1.5px !important;
	left: 1.5px !important;
}