.bg-aqua {
	background-color: #00c0ef !important;
}

.bg-red {
	background-color: #dd4b39 !important;
}

.bg-green {
	background-color: #6da252 !important;
}

.info-box {
	display: block;
	min-height: 90px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	margin-bottom: 15px;
}

.info-box-icon {
	border-top-right-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 2px;
	display: block;
	float: right;
	height: 99px;
	width: 90px;
	text-align: center;
	font-size: 45px;
	line-height: 90px;
	background: rgba(0, 0, 0, 0.2);
}

.info-box-icon i {
	margin-top: 30px;
}

.info-box-content {
	padding: 5px 10px;
	margin-right: 90px;
}

.info-box-text {
	text-transform: uppercase;
}

.progress-description, .info-box-text {
	display: block;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.info-box-number {
	display: block;
	font-weight: bold;
	font-size: 18px;
}

.info-box .progress, .info-box .progress .progress-bar {
	border-radius: 0;
}

.info-box .progress {
	background: rgba(0, 0, 0, 0.2);
	margin: 5px -10px 5px -10px;
	height: 2px;
}

.progress.sm, .progress-sm, .progress.sm .progress-bar, .progress-sm .progress-bar
	{
	border-radius: 1px;
}

.progress.sm, .progress-sm {
	height: 10px;
}

.progress, .progress>.progress-bar, .progress .progress-bar, .progress>.progress-bar .progress-bar
	{
	border-radius: 1px;
}

.progress, .progress>.progress-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-group .progress-text {
	font-weight: 600;
}

.progress-group .progress-number {
	float: left;
}

.highcharts-credits {
	display: none;
}