.col-md-3, .col-md-4, .col-md-8, .col-md-12 {
	display: inline-block !important;
}

.totals {
	text-align: right !important;
	direction: ltr !important;
}

.chooseAccountButton {
	margin-bottom: 0px !important;
}

.chooseAccountButton i {
	margin-top: 5px !important;
}

#accountDialogId .ui-dialog-title {
	float: right !important;
}