<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:param name="maintitle" value="#{app.account_report}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.account_report}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.account_report}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">

		<div class="ibox float-e-margins">
			<!-- / ibox-title -->
			<div class="ibox-content collapse show" id="main-info">
				<div class="widgets-container">

					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-12">
									<h:outputLabel value="#{app.the_account}"
										styleClass="control-label" />
								</div>
								<div class="col-md-12">
									<p:selectOneMenu id="account" filter="true"
										filterMatchMode="contains"
										value="#{accountReportController.account}" autoWidth="true"
										converter="#{accountConverter}">
										<f:selectItem />
										<f:selectItems value="#{accountReportController.allAccounts}"
											var="account" itemLabel="#{account.displayName()}"
											itemValue="#{account}" />
									</p:selectOneMenu>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<div class="col-md-12">
									<h:outputLabel value="#{app.from_date}"
										styleClass="control-label" />
								</div>
								<div class="col-md-12">
									<p:calendar id="fromDate" pattern="dd-MM-yyyy"
										value="#{accountReportController.fromDate}"
										showButtonPanel="true" navigator="true"
										inputStyleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<div class="col-md-12">
									<h:outputLabel value="#{app.to_date}"
										styleClass="control-label" />
								</div>
								<div class="col-md-12">
									<p:calendar id="toDate" pattern="dd-MM-yyyy"
										value="#{accountReportController.toDate}"
										showButtonPanel="true" navigator="true"
										inputStyleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-2  margin-top-one">
							<div class="margin-top-two">
								<p:selectOneButton id="currency"
									value="#{accountReportController.currency}">
									<f:selectItem itemLabel="DOLAR" itemValue="DOLAR" />
									<f:selectItem itemLabel="LIRA" itemValue="LIRA" />
								</p:selectOneButton>
							</div>
						</div>
						<div class="col-md-1  margin-top-one">
							<div class="margin-top-two">
								<h:commandLink action="#{accountReportController.search()}"
									styleClass="btn btn-success">
									<h:outputText value="#{app.search}" />
									<f:ajax execute="account fromDate toDate currency"
										render="previousBalance-panelGroup" />
								</h:commandLink>
							</div>
						</div>
						<div class="col-md-1 margin-top-one">
							<div class="margin-top-two">
								<h:commandLink styleClass="btn btn-info exportToExcel"
									action="#{accountReportController.exportToExcel()}">
									<i class="fa fa-file-excel-o white" />
								</h:commandLink>
							</div>
						</div>
					</div>

					<p:separator />

					<h:panelGroup id="previousBalance-panelGroup">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<h:outputLabel value="#{app.previous_balance}"
										styleClass="margin-top-two margin-right-one font-size-three" />
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<div class="col-md-12">
										<h:outputLabel value="DR" styleClass="control-label" />
									</div>
									<div class="col-md-12">
										<h:inputText styleClass="form-control"
											value="#{accountReportController.previousAccountReport.debit}"
											readonly="true" />
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<div class="col-md-12">
										<h:outputLabel value="CR" styleClass="control-label" />
									</div>
									<div class="col-md-12">
										<h:inputText styleClass="form-control"
											value="#{accountReportController.previousAccountReport.credit}"
											readonly="true" />
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<div class="col-md-12">
										<h:outputLabel value="BALANCE" styleClass="control-label" />
									</div>
									<div class="col-md-12">
										<h:inputText styleClass="form-control"
											value="#{accountReportController.previousAccountReport.balance}"
											readonly="true" />
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<div class="col-md-4">
										<h:outputLabel value="CR/DR" styleClass="control-label" />
									</div>
									<div class="col-md-8">
										<h:inputText styleClass="form-control"
											value="#{accountReportController.previousAccountReport.crdr.toString()}"
											readonly="true" />
									</div>
								</div>
							</div>
						</div>
					</h:panelGroup>

					<p:separator />

					<div class="row">
						<div class="col-md-12">
							<p:dataTable value="#{accountReportController.reportData}"
								var="item" id="itemsDataTable" rowKey="#{item.item.id}"
								emptyMessage="#{app.no_records_found}" rowIndexVar="rowIndex"
								paginator="true" paginatorAlwaysVisible="true"
								rowsPerPageTemplate="10,50,100,200,500,1000" rows="20"
								widgetVar="itemVar" draggableColumns="true">

								<p:column headerText="#" width="100">
									<h:outputLabel value="#{rowIndex + 1}" />
								</p:column>

								<p:column width="150" sortBy="#{item.voucherInfo}"
									filterBy="#{item.voucherInfo}" filterMatchMode="contains">
									<f:facet name="filter">
										<p:inputText onkeyup="PF('itemVar').filter()"
											placeholder="#{app.voucher_info}" />
									</f:facet>
									<h:link outcome="voucher-card" target="blank"
										styleClass="card-link">
										<h:outputLabel value="#{item.voucherInfo}"
											title="#{item.voucherInfo}" styleClass="text-truncate" />
										<f:param name="id"
											value="#{accountReportController.getVoucherId(item.voucherNumber, item.voucherType)}" />
									</h:link>
								</p:column>

								<p:column headerText="#{app.date}" width="150"
									sortBy="#{item.voucherDate}">
									<h:outputLabel value="#{item.voucherDate}"
										title="#{item.voucherDate}" styleClass="text-truncate">
										<f:convertDateTime pattern="dd-MM-yyyy" />
									</h:outputLabel>
								</p:column>

								<p:column width="400" sortBy="#{item.entryDescription}"
									filterBy="#{item.entryDescription}" filterMatchMode="contains">
									<f:facet name="filter">
										<p:inputText onkeyup="PF('itemVar').filter()"
											placeholder="#{app.entry_description}" />
									</f:facet>
									<h:outputLabel value="#{item.entryDescription}"
										title="#{item.entryDescription}" styleClass="text-truncate" />
								</p:column>

								<p:column width="120" sortBy="#{item.debit}"
									filterBy="#{item.debit}" filterMatchMode="contains">
									<f:facet name="filter">
										<p:inputText onkeyup="PF('itemVar').filter()" placeholder="DR" />
									</f:facet>
									<h:outputLabel value="#{item.debit}" title="#{item.debit}"
										styleClass="text-truncate number-format">
										<f:convertNumber locale="en-US" />
									</h:outputLabel>
								</p:column>

								<p:column width="120" sortBy="#{item.credit}"
									filterBy="#{item.credit}" filterMatchMode="contains">
									<f:facet name="filter">
										<p:inputText onkeyup="PF('itemVar').filter()" placeholder="CR" />
									</f:facet>
									<h:outputLabel value="#{item.credit}" title="#{item.credit}"
										styleClass="text-truncate number-format">
										<f:convertNumber locale="en-US" />
									</h:outputLabel>
								</p:column>

								<p:column width="120" sortBy="#{item.balance}"
									filterBy="#{item.balance}" filterMatchMode="contains">
									<f:facet name="filter">
										<p:inputText onkeyup="PF('itemVar').filter()"
											placeholder="BALANCE" />
									</f:facet>
									<h:outputLabel value="#{item.balance}" title="#{item.balance}"
										styleClass="text-truncate number-format">
										<f:convertNumber locale="en-US" />
									</h:outputLabel>
								</p:column>

								<p:column headerText="CR/DR" width="100" sortBy="#{item.crdr}">
									<h:outputLabel value="#{item.crdr}" title="#{item.crdr}"
										styleClass="text-truncate" />
								</p:column>


								<p:columnGroup type="footer">
									<p:row>
										<p:column />
										<p:column />
										<p:column />
										<p:column />
										<p:column>
											<f:facet name="footer">
												<h:outputLabel value="#{accountReportController.totalDr}"
													title="#{accountReportController.totalDr}"
													styleClass="text-truncate number-format" />
											</f:facet>
										</p:column>
										<p:column>
											<f:facet name="footer">
												<h:outputLabel value="#{accountReportController.totalCr}"
													title="#{accountReportController.totalCr}"
													styleClass="text-truncate number-format" />
											</f:facet>
										</p:column>
										<p:column>
											<f:facet name="footer">
												<h:outputLabel
													value="#{accountReportController.totalBalance}"
													title="#{accountReportController.totalBalance}"
													styleClass="text-truncate number-format" />
											</f:facet>
										</p:column>
										<p:column>
											<f:facet name="footer">
												<h:outputLabel value="#{accountReportController.totalCRDr}"
													title="#{accountReportController.totalCRDr}"
													styleClass="text-truncate" />
											</f:facet>
										</p:column>
									</p:row>
								</p:columnGroup>

							</p:dataTable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:decorate>
</html>
