<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:param name="maintitle" value="#{app.customer_general_report}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.customer_general_report}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.customer_general_report}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">

		<div class="ibox float-e-margins">
			<!-- / ibox-title -->
			<div class="ibox-content collapse show" id="main-info">
				<div class="widgets-container">

					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-4">
									<h:outputLabel value="#{app.from_date}"
										styleClass="control-label" />
								</div>
								<div class="col-md-8">
									<p:calendar id="fromDate" pattern="dd-MM-yyyy"
										value="#{customerGeneralReportController.fromDate}"
										showButtonPanel="true" navigator="true"
										inputStyleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-4">
									<h:outputLabel value="#{app.to_date}"
										styleClass="control-label" />
								</div>
								<div class="col-md-8">
									<p:calendar id="toDate" pattern="dd-MM-yyyy"
										value="#{customerGeneralReportController.toDate}"
										showButtonPanel="true" navigator="true"
										inputStyleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="margin-top-two">
								<h:commandLink
									action="#{customerGeneralReportController.search()}"
									styleClass="btn btn-success">
									<h:outputText value="#{app.search}" />
									<f:ajax execute="account fromDate toDate currency"
										render="itemsDataTable" />
								</h:commandLink>
							</div>
						</div>
						<div class="col-md-1">
							<div class="margin-top-two">
								<h:commandLink styleClass="btn btn-info exportToExcel"
									action="#{customerGeneralReportController.exportToExcel()}">
									<i class="fa fa-file-excel-o white" />
								</h:commandLink>
							</div>
						</div>
					</div>


					<div class="margin-top-two">
						<p:dataTable value="#{customerGeneralReportController.reportData}"
							var="item" id="itemsDataTable"
							emptyMessage="#{app.no_records_found}" rowIndexVar="rowIndex"
							paginator="true" paginatorPosition="bottom"
							paginatorAlwaysVisible="false"
							rowsPerPageTemplate="50,100,200,500,1000" rows="50"
							widgetVar="itemVar" draggableColumns="true">

							<p:column headerText="#" width="100">
								<h:outputLabel value="#{rowIndex + 1}" />
							</p:column>

							<p:column filterBy="#{item.customer.displayName()}"
								sortBy="#{item.customer.displayName()}"
								filterMatchMode="contains" width="200">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()"
										placeholder="#{app.customer}" />
								</f:facet>
								<h:link styleClass="card-link" outcome="customer-card">
									<h:outputLabel value="#{item.customer.displayName()}"
										title="#{item.customer.displayName()}"
										styleClass="text-truncate" />
									<f:param name="id" value="#{item.customer.id}" />
								</h:link>
							</p:column>

							<p:column filterBy="#{item.price}" sortBy="#{item.price}"
								filterMatchMode="contains" width="100">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()"
										placeholder="#{app.amount}" />
								</f:facet>
								<h:outputLabel value="#{item.price}" title="#{item.price}"
									styleClass="text-truncate" />
							</p:column>

							<p:column headerText="DC" filterBy="#{item.DC}"
								sortBy="#{item.DC}" filterMatchMode="contains" width="100">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()" placeholder="DC" />
								</f:facet>
								<h:outputLabel value="#{item.DC}" title="#{item.DC}"
									styleClass="text-truncate" />
							</p:column>

						</p:dataTable>
					</div>
				</div>
			</div>
		</div>


	</ui:define>

</ui:decorate>
</html>
