<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:param name="maintitle" value="#{app.gmt_ticket_report}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.gmt_ticket_report}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.gmt_ticket_report}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">

		<div class="ibox float-e-margins">
			<!-- / ibox-title -->
			<div class="ibox-content collapse show" id="main-info">
				<div class="widgets-container">

					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-4">
									<h:outputLabel value="#{app.from_date}"
										styleClass="control-label" />
								</div>
								<div class="col-md-8">
									<p:calendar id="fromDate" pattern="dd-MM-yyyy"
										value="#{gmtTicketReportController.fromDate}"
										showButtonPanel="true" navigator="true"
										inputStyleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-4">
									<h:outputLabel value="#{app.to_date}"
										styleClass="control-label" />
								</div>
								<div class="col-md-8">
									<p:calendar id="toDate" pattern="dd-MM-yyyy"
										value="#{gmtTicketReportController.toDate}"
										showButtonPanel="true" navigator="true"
										inputStyleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="margin-top-two">
								<h:commandLink action="#{gmtTicketReportController.search()}"
									styleClass="btn btn-success">
									<h:outputText value="#{app.search}" />
									<f:ajax execute="fromDate toDate" render="itemsDataTable" />
								</h:commandLink>
							</div>
						</div>
						<div class="col-md-1">
							<div class="margin-top-two">
								<h:commandLink styleClass="btn btn-info exportToExcel"
									action="#{gmtTicketReportController.exportToExcel()}">
									<i class="fa fa-file-excel-o white" />
								</h:commandLink>
							</div>
						</div>
					</div>


					<div class="margin-top-two">
						<p:dataTable value="#{gmtTicketReportController.reportData}"
							var="item" id="itemsDataTable"
							emptyMessage="#{app.no_records_found}" rowIndexVar="rowIndex"
							paginator="true" paginatorPosition="bottom"
							paginatorAlwaysVisible="false"
							rowsPerPageTemplate="50,100,200,500,1000" rows="50"
							widgetVar="itemVar" draggableColumns="true">

							<p:column headerText="#" width="100">
								<h:outputLabel value="#{rowIndex + 1}" />
							</p:column>

							<p:column headerText="NBR" width="150">
								<h:outputLabel value="#{item.nbr}" title="#{item.nbr}"
									styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Date" width="150">
								<h:outputLabel value="#{item.date}" title="#{item.date}"
									styleClass="text-truncate">
									<f:convertDateTime pattern="dd-MM-yyyy" />
								</h:outputLabel>
							</p:column>

							<p:column headerText="Fair In" width="150">
								<h:outputLabel value="#{item.fairIn}" title="#{item.fairIn}"
									styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Fair Out" width="150">
								<h:outputLabel value="#{item.fairOut}" title="#{item.fairOut}"
									styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Fair Penalty" width="150">
								<h:outputLabel value="#{item.fairPenalty}"
									title="#{item.fairPenalty}" styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Cancelation Fees In" width="150">
								<h:outputLabel value="#{item.cancelationFeesIn}"
									title="#{item.cancelationFeesIn}" styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Cancelation Fees Out" width="150">
								<h:outputLabel value="#{item.cancelationFeesOut}"
									title="#{item.cancelationFeesOut}" styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Customer Commission" width="150">
								<h:outputLabel value="#{item.customerCommission}"
									title="#{item.customerCommission}" styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Total Commission" width="150">
								<h:outputLabel value="#{item.totalCommission}"
									title="#{item.totalCommission}" styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Tax" width="150">
								<h:outputLabel value="#{item.tax}" title="#{item.tax}"
									styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Commission Cut Refund" width="150">
								<h:outputLabel value="#{item.commissionCutRefund}"
									title="#{item.commissionCutRefund}" styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Void" width="150">
								<h:outputLabel value="#{item.voidAmount}"
									title="#{item.voidAmount}" styleClass="text-truncate" />
							</p:column>

							<p:column headerText="Total Net" width="150">
								<h:outputLabel value="#{item.totalNet}" title="#{item.totalNet}"
									styleClass="text-truncate" />
							</p:column>

							<p:column headerText="My Commission" width="150">
								<h:outputLabel value="#{item.myCommission}"
									title="#{item.myCommission}" styleClass="text-truncate" />
							</p:column>

						</p:dataTable>
					</div>
				</div>
			</div>
		</div>


	</ui:define>

</ui:decorate>
</html>
