<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:param name="maintitle" value="Trial Balance"></ui:param>
	<ui:param name="pageSubTitle" value="Trial Balance"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>Trial Balance</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">

		<div class="ibox float-e-margins">
			<!-- / ibox-title -->
			<div class="ibox-content collapse show" id="main-info">
				<div class="widgets-container">


					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-12">
									<h:outputLabel value="#{app.from_date}"
										styleClass="control-label" />
								</div>
								<div class="col-md-12">
									<p:calendar id="fromDate" pattern="dd-MM-yyyy"
										value="#{tBController.fromDate}" showButtonPanel="true"
										navigator="true" inputStyleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-12">
									<h:outputLabel value="#{app.to_date}"
										styleClass="control-label" />
								</div>
								<div class="col-md-12">
									<p:calendar id="toDate" pattern="dd-MM-yyyy"
										value="#{tBController.toDate}" showButtonPanel="true"
										navigator="true" inputStyleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-12">
									<h:outputLabel value="#{app.from_account}"
										styleClass="control-label" />
								</div>
								<div class="col-md-12">
									<p:selectOneMenu id="fromType" value="#{tBController.fromType}"
										filterMatchMode="contains" filter="true">
										<f:selectItem />
										<f:selectItems value="#{tBController.allAccountTree}"
											var="item" itemValue="#{item.code}"
											itemLabel="#{item.displayName}" />
									</p:selectOneMenu>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-md-12">
									<h:outputLabel value="#{app.to_account}"
										styleClass="control-label" />
								</div>
								<div class="col-md-12">
									<p:selectOneMenu id="toType" value="#{tBController.toType}"
										filterMatchMode="contains" filter="true">
										<f:selectItem />
										<f:selectItems value="#{tBController.allAccountTree}"
											var="item" itemValue="#{item.code}"
											itemLabel="#{item.displayName}" />
									</p:selectOneMenu>
								</div>
							</div>
						</div>
						<div class="col-md-3 ">
							<div class="margin-top-two">
								<p:selectOneButton id="currency"
									value="#{tBController.currency}">
									<f:selectItem itemLabel="DOLAR" itemValue="DOLAR" />
									<f:selectItem itemLabel="LIRA" itemValue="LIRA" />
								</p:selectOneButton>
							</div>
						</div>
						<div class="col-md-3 ">
							<div class="margin-top-two">
								<h:commandLink action="#{tBController.search()}"
									styleClass="btn btn-success">
									<f:ajax execute="fromDate toDate fromType toType currency"
										render="itemsDataTable" />
									<i class="fa fa-search" />
								</h:commandLink>
							</div>
						</div>
						<div class="col-md-3">
							<div class="margin-top-two">
								<h:commandLink styleClass="btn btn-info exportToExcel"
									action="#{tBController.exportToExcel()}">
									<i class="fa fa-file-excel-o white" />
								</h:commandLink>
							</div>
						</div>
						<div class="col-md-3">
							<div class="margin-top-two">
								<p:commandLink action="#{tBController.printOrder()}"
									styleClass="btn btn-danger" ajax="false">
									<i class="fa fa-file-pdf-o white" />
								</p:commandLink>
							</div>
						</div>
					</div>

					<div class="col-md-12 margin-top-one">

						<p:dataTable value="#{tBController.reportData}" var="item"
							id="itemsDataTable" emptyMessage="#{app.no_records_found}"
							rowIndexVar="rowIndex" paginator="true"
							paginatorPosition="bottom" paginatorAlwaysVisible="false"
							rowsPerPageTemplate="10,50,100,200,500,1000" rows="10"
							widgetVar="itemVar" draggableColumns="true">

							<p:column headerText="#" width="100">
								<h:outputLabel value="#{rowIndex + 1}" />
							</p:column>

							<p:column filterBy="#{item.code}" sortBy="#{item.code}"
								filterMatchMode="startsWith" width="120">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()"
										placeholder="Code" />
								</f:facet>
								<h:outputLabel value="#{item.code}" title="#{item.code}"
									styleClass="text-truncate" />
							</p:column>

							<p:column filterBy="#{item.name}" sortBy="#{item.name}"
								filterMatchMode="contains">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()"
										placeholder="Name" />
								</f:facet>
								<h:outputLabel value="#{item.name}" title="#{item.name}"
									styleClass="text-truncate" />
							</p:column>

							<p:column filterBy="#{item.debitStr}" sortBy="#{item.debitStr}"
								filterMatchMode="contains" width="150">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()"
										placeholder="Debit" />
								</f:facet>
								<h:outputLabel value="#{item.debitStr}" title="#{item.debitStr}"
									styleClass="text-truncate number-format" />
							</p:column>

							<p:column filterBy="#{item.creditStr}" sortBy="#{item.creditStr}"
								filterMatchMode="contains" width="150">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()"
										placeholder="Credit" />
								</f:facet>
								<h:outputLabel value="#{item.creditStr}"
									title="#{item.creditStr}"
									styleClass="text-truncate number-format" />
							</p:column>

							<p:column filterBy="#{item.balanceStr}"
								sortBy="#{item.balanceStr}" filterMatchMode="contains"
								width="150">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()"
										placeholder="Balance" />
								</f:facet>
								<h:outputLabel value="#{item.balanceStr}"
									title="#{item.balanceStr}"
									styleClass="text-truncate number-format" />
							</p:column>

							<p:column filterBy="#{item.crDr}" sortBy="#{item.crDr}"
								filterMatchMode="contains" width="120">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('itemVar').filter()"
										placeholder="CRDR" />
								</f:facet>
								<h:outputLabel value="#{item.crDr}" title="#{item.crDr}"
									styleClass="text-truncate" />
							</p:column>

							<p:columnGroup type="footer">
								<p:row>
									<p:column />
									<p:column />
									<p:column />
									<p:column>
										<f:facet name="footer">
											<h:outputLabel value="#{tBController.debitTotalStr}"
												title="#{tBController.debitTotalStr}"
												styleClass="text-truncate number-format" />
										</f:facet>
									</p:column>
									<p:column>
										<f:facet name="footer">
											<h:outputLabel value="#{tBController.creditTotalStr}"
												title="#{tBController.creditTotalStr}"
												styleClass="text-truncate number-format" />
										</f:facet>
									</p:column>
									<p:column>
										<f:facet name="footer">
											<h:outputLabel value="#{tBController.balanceStr}"
												title="#{tBController.balanceStr}"
												styleClass="text-truncate number-format" />
										</f:facet>
									</p:column>
									<p:column>
										<f:facet name="footer">
											<h:outputLabel value="#{tBController.crDr}"
												title="#{tBController.crDr}"
												styleClass="text-truncate number-format" />
										</f:facet>
									</p:column>
								</p:row>
							</p:columnGroup>

						</p:dataTable>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:decorate>
</html>
