<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:genkey="http://general.com/generalKey">

<!-- INTERFACE -->
<composite:interface>
	<composite:attribute name="value" required="true" />
	<composite:attribute name="readonly" default="false" />
	<composite:attribute name="renderMore" default="" />
	<composite:attribute name="deleteMethod" method-signature="void action(com.general.entity.Attachment)"/>
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>
	<p:dataTable value="#{cc.attrs.value}" var="att"
		id="attachmentsId" emptyMessage="#{mecBundle.no_records_found}"
		rowIndexVar="rowIndex" paginator="true" paginatorPosition="bottom"
		paginatorAlwaysVisible="true" rowsPerPageTemplate="10,20,50,100"
		rows="10" widgetVar="attWidgetVar" reflow="true">

		<p:column width="4%" style="text-align: center" rendered="#{!cc.attrs.readonly}">
			<f:facet name="header">
				<h:commandLink onclick="$('.ui-fileupload input').click()"
					title="#{mecBundle.add}">
					<f:ajax />
					<i class="fa fa-plus-square-o alert-success icon-panel no-background" />
				</h:commandLink>
			</f:facet>

			<p:commandLink styleClass="" title="#{myBundle.delete}" 
				process="@this" update="growl #{cc.attrs.renderMore}"
				oncomplete="PF('attWidgetVar').filter()"
				actionListener="#{cc.attrs.deleteMethod}">
				<i class="fa fa-trash alert-danger no-background"></i>
				<p:confirm header="#{myBundle.confirmation}"
					message="#{myBundle.msg_are_you_sure_to_delete}"
					icon="ui-icon-alert" />
				<f:param name="id" value="#{att.id}" />
			</p:commandLink>
		</p:column>

		<p:column headerText="#{myBundle.file_name}">
			<p:commandLink value="#{att.fileName}" ajax="false">
				<p:fileDownload value="#{imagesController.handleFileDownload(att)}" />
			</p:commandLink>
		</p:column>

		<p:column headerText="#{myBundle.file_size}">
			<h:outputLabel value="#{of:formatBytes(att.fileSize)}" />
		</p:column>

		<p:column headerText="#{myBundle.classification}">
			<genkey:generalkeyConverter type="15" value="#{att.classification}" />
		</p:column>

		<p:column headerText="#{myBundle.date}">
			<h:outputLabel value="#{att.createdDate}">
				<f:convertDateTime pattern="dd-MM-yyyy" />
			</h:outputLabel>
		</p:column>

	</p:dataTable>
</composite:implementation>

</html>