/*!
 * The Wolf v1.0 (http://thewolf.bittyfox.com/)
 * Copyright The Wolf Company © 2017 
 * 
 */

/*---------------------------
 * GOOGLE FONTS DECLARATIONS
 * RESET & DOC
 * GLOBAL CSS
 * Button css
 * Font css
 * space class
 * ibox class
 * note class
 * DropDown class
 * Tab class
 * icons custom page  class
 * checkbox class
 * Jcrop Image Cropping 
 * Data Tables
 * colors ui 
 * FULLCALENDAR
 * Contact Page
 * Profile Page
 * Blog and Article Page
 * Issue Tracker  Page
 * FAQ Page
 * INVOICE Page
 * Error, Login & Lockscreen
 * DASBOARD
 * Text Editer
 * Page Header
 * Page Sidebar
 * Progress Bar
 * Breadcrumb Bar
 * scrollup 
 * footer 
 * Salary Table 
 * input class
 * chart css
 * google mape
 * jqv mape
 * horizontal TimeLine
 * slick slider
 * PEACE css
 * WIDGETS css
 * RangeSlider
 * chat-Box
----------------------------------*/


/*------------------------------------------------

GOOGLE FONTS DECLARATIONS

-------------------------------------------------*/
/* @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Yanone+Kaffeesatz|Oxygen"); */

/*------------------------------------------------

RESET & DOC

-------------------------------------------------*/

body {
    color:#676a6c;
    margin: 0;
    padding:0;
    font-size:14px;
    font-family:  "oxygen", "Roboto Condensed", sans-serif, Arial;
}

.label, body, h1, h2, h3, h4, h5, h6 {
    font-family:  "oxygen", "Roboto Condensed", sans-serif, Arial;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}

.border-top {
    border-top: 1px solid #e7eaec !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}

a, button, code, div, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    border-radius: 0 !important;
}

a:focus {
    outline: none;
    outline-offset: -2px;
}


/*------------------------------------------------

GLOBAL CSS

-------------------------------------------------*/

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 10px;
    padding-right: 10px;
}


.row {
    margin-left: -10px;
    margin-right: -10px;
}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-body {
    padding: 15px;
}
.btn-group-xs > .btn, .btn-xs {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
    padding-bottom: 10px;
    padding-top: 10px;
}


.page-container::after, .page-container::before {
 content: " ";
 display: table;
}


.page-header-fixed .page-content-wrapper {
    padding-top: 56px;
}


.page-content-wrapper {
    float: left;
    padding-top: 0;
    width: 100%;
}


.hr-line-dashed {
    border-top: 1px dashed #dddddd;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}


.hr-line-solid {
    border-bottom: 1px solid #dddddd;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px;
}


.solid-line {
    border-top: 1px solid #dddddd;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}


.link-block {
    font-size: 12px;
    padding: 10px;
}

.link-block a {
    font-size: 12px;
    color: #555;
}

.dropdown-menu li a {
    font-size: 12px;
    min-height: 0;
    padding: 5px 10px;
}

.media-body {
    font-size: 12px;
    display: block;
    width: auto;
}

.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}

/*-------some ui class-------*/
.panel {
    border-radius:0;
}

.datetimepicker-inline {
    border: 1px solid #ddd;
    width: 220px;
}

.defaultSelectDrop {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 0;
}

.inl-bl {
    display: inline-block;
}


.inl-bl {
    display: inline-block;
}

.inl-bl .dropdown-menu{
   top: 0;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.note-toolbar.panel-heading {
    margin: 0;
    padding: 5px 0 3px;
}

div.dt-buttons {
    margin-left: 10px;
}

 button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
 background-image: none;
}

.col-lg-4 > ul#instructions {
    margin-top: 10px;
    padding: 0;
}

.carousel .item > img {
    width: 100%;
}

#links img {
    border: 2px solid #fff;
}

.btn-white {
    background: white none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    color: inherit;
}

.btn-white:active, .btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset !important;
}

img.circle-border {
    border: 6px solid #FFFFFF;
    border-radius: 50%;
}

 .full-width {
    width: 100% !important;
}

.center .ibox-content {
            margin: 0 10px;
        }

        
/*------------------------------------------------

space class

-------------------------------------------------*/

.space-5 {
    margin: 5px 0;
}

.space-10 {
    margin: 10px 0;
}

.space-15 {
    margin: 15px 0;
}

.space-20 {
    margin: 20px 0;
}

.space-25 {
    margin: 25px 0;
}

.space-30 {
    margin: 30px 0;
}

.padding-top10 {
    padding-top: 10px !important;
}

.padding-none {
    padding: 0;
}

.btn120 {
    min-width: 120px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.borderNone {
    border: none;
}


/*- Margin Class Normal -*/
.top0 {
    margin-top: 0;
}

.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top20 {
    margin-top: 20px;
}

.top25 {
    margin-top: 25px;
}

.top30 {
    margin-top: 30px;
}

.bottom0 {
    margin-bottom: 0px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom25 {
    margin-bottom: 25px;
}

.bottom30 {
    margin-bottom: 30px;
}

.bottom35 {
    margin-bottom: 35px;
}

.bottom40 {
    margin-bottom: 40px;
}

/*---- Margin Class important ---*/

.margin-bottom-5 {
    margin-bottom:5px !important;
}

.margin-bottom-10 {
    margin-bottom:10px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-10 {
    margin-top:10px !important;
}

.margin-top-15 {
    margin-top:15px !important;
}

.margin-bottom-15 {
    margin-bottom:15px !important;
}

.margin-bottom-20 {
    margin-bottom:20px !important;
}

.margin-top-20 {
    margin-top:20px !important;
}

.margin-top-30 {
    margin-top:30px !important;
}

.margin-top-40 {
    margin-top:40px !important;
}

.margin-bottom-25 {
    margin-bottom:25px !important;
}

.margin-bottom-30 {
    margin-bottom:30px !important;
}

.margin-bottom-40 {
    margin-bottom:40px !important;
}

.margin-right-10 {
    margin-right:10px !important;
}

.no-margins {
    margin:0 !important;
}

.no-padding{
   padding: 0 !important;
}

/*------------------------------------------------

ibox class

-------------------------------------------------*/

.Con-heading {
    border-bottom: 1px solid #10161c;
    border-right: 1px solid #10161c;
    border-top: 1px solid #10161c;
    background: #fff none repeat scroll 0 0;
    border-left: 8px solid #88909a;
    margin: 0 0 20px;
    padding: 15px;
}

.wrapper-content {
    padding: 20px 0 40px;
}

.ibox {
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}

.ibox-footer {
    background: #ffffff none repeat scroll 0 0;
    color: inherit;
    font-size: 90%;
    padding: 10px 15px;
}

.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-align: right;
}

.ibox-title h5 {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
}

.ibox-tools a {
    color: #c4c4c4;
    cursor: pointer;
    margin-left: 5px;
}

.ibox-tools .dropdown-toggle:after {
    display:none
}

.ibox-tools a:hover {
    text-decoration: none;
}

.ibox .ibox-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}

.ibox-title {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    color: inherit;
    padding: 20px;
    width: 100%;
    border: 1px solid #e7eaec;
    border-bottom: 0;
    display: table;
}

.ibox-tools .collapse-link .fa-chevron-down {
    display: none;
}

.ibox-tools .collapse-link.collapsed .fa-chevron-down {
    display: inline-block;
}

.ibox-tools .collapse-link.collapsed .fa-chevron-up {
    display: none;
}

.widgets-container {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    box-sizing: border-box;
    margin: 0 auto 0;
    padding: 20px;
    width: 100%;
}

.ibox .dropdown-menu {
    left: auto;
    right: 0;
}
/*------------------------------------------------

note class

-------------------------------------------------*/

.note {
    margin:0 0 20px;
    padding:15px 30px 15px 15px;
    border-left:5px solid #eee;
    border-radius:0 4px 4px 0
}

.note h1, .note h2, .note h3, .note h4, .note h5, .note h6 {
    margin-top:0
}

.note h1 .close, .note h2 .close, .note h3 .close, .note h4 .close, .note h5 .close, .note h6 .close {
    margin-right:-10px
}

.note p {
    margin:0
}

.note p:last-child {
    margin-bottom:0
}

.note.note-default {
    border-color:#b0c1d2;
    color:#000
}

.note.note-default.note-bordered {
    background-color:#eef1f5;
    border-color:#c0cedb
}

.note.note-default.note-shadow {
    background-color:#f1f4f7;
    border-color:#d1dbe4;
    box-shadow:5px 5px rgba(212, 221, 230, .2)
}

.note.note-success {
    background-color:#c0edf1;
    border-color:#58d0da;
    color:#000
}

.note.note-success.note-bordered {
    background-color:#a7e6ec;
    border-color:#6dd6df
}

.note.note-success.note-shadow {
    background-color:#abe7ed;
    border-color:#81dbe3;
    box-shadow:5px 5px rgba(134, 221, 228, .2)
}

.note.note-info {
    background-color:#f5f8fd;
    border-color:#8bb4e7;
    color:#010407
}

.note.note-info.note-bordered {
    background-color:#dbe8f8;
    border-color:#a0c2ec
}

.note.note-info.note-shadow {
    background-color:#e0ebf9;
    border-color:#b5cff0;
    box-shadow:5px 5px rgba(185, 210, 241, .2)
}

.note.note-warning {
    background-color:#faeaa9;
    border-color:#f3cc31;
    color:#000
}

.note.note-warning.note-bordered {
    background-color:#f8e38c;
    border-color:#f4d249
}

.note.note-warning.note-shadow {
    background-color:#f9e491;
    border-color:#f6d861;
    box-shadow:5px 5px rgba(246, 217, 102, .2)
}

.note.note-danger {
    background-color:#fef7f8;
    border-color:#f0868e;
    color:#210406
}

.note.note-danger.note-bordered {
    background-color:#fbdcde;
    border-color:#f39da3
}

.note.note-danger.note-shadow {
    background-color:#fbe1e3;
    border-color:#f6b3b8;
    box-shadow:5px 5px rgba(246, 184, 189, .2)
}


/*------------------------------------------------

DropDown class

-------------------------------------------------*/

.dropdown.open>.dropdown-toggle, .dropup.open>.dropdown-toggle {
    border-color:#ddd
}

.dropdown-menu li.divider {
    background:#f1f3f6;
    height: 1px;
}

.dropdown-menu li.header {
    padding:8px 14px 2px
}

.dropdown-menu>li>a {
    padding:8px 16px;
    color:#6f6f6f;
    text-decoration:none;
    display:block;
    clear:both;
    font-weight:300;
    line-height:18px;
    white-space:nowrap
}

.dropdown-menu>li>a>[class*=" fa-"], .dropdown-menu>li>a>[class^=fa-] {
color:#888
}

.dropdown-menu>li>a>[class*=" icon-"], .dropdown-menu>li>a>[class^=icon-] {
color:#666
}

.dropdown-menu>li>a>[class*=" glyphicon-"], .dropdown-menu>li>a>[class^=glyphicon-] {
color:#888
}

.dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a {
    text-decoration:none;
    background-image:none;
    background-color:#f6f6f6;
    color:#555;
    filter:none
}

.dropdown-menu.bottom-up {
    top:auto;
    bottom:100%;
    margin-bottom:2px
}

.dropdown-menu.bottom-up:after, .dropdown-menu.bottom-up:before {
    display:none
}

.dropdown-menu>li:first-child:hover>a {
    border-radius:4px 4px 0 0
}

.dropdown-menu>li:last-child:hover>a {
    border-radius:0 0 4px 4px
}

.dropdown-hover:hover>.dropdown-menu {
    display:block
}

.btn-group>.dropdown-menu, .dropdown-toggle>.dropdown-menu, .dropdown>.dropdown-menu {
    margin-top: 5px;
}

.btn-group>.dropdown-menu.pull-left:before, .dropdown-toggle>.dropdown-menu.pull-left:before, .dropdown>.dropdown-menu.pull-left:before {
    left:auto;
    right:9px
}

.btn-group>.dropdown-menu.pull-left:after, .dropdown-toggle>.dropdown-menu.pull-left:after, .dropdown>.dropdown-menu.pull-left:after {
    left:auto;
    right:10px
}

.btn-group>.dropdown-menu.pull-right:before, .dropdown-toggle>.dropdown-menu.pull-right:before, .dropdown>.dropdown-menu.pull-right:before {
    left:auto;
    right:9px
}

.btn-group>.dropdown-menu.pull-right:after, .dropdown-toggle>.dropdown-menu.pull-right:after, .dropdown>.dropdown-menu.pull-right:after {
    left:auto;
    right:10px
}

.btn-group.dropup>.dropdown-menu, .dropdown-toggle.dropup>.dropdown-menu, .dropdown.dropup>.dropdown-menu {
    margin-top:0;
    margin-bottom:10px
}

.btn-group.dropup>.dropdown-menu:after, .btn-group.dropup>.dropdown-menu:before, .dropdown-toggle.dropup>.dropdown-menu:after, .dropdown-toggle.dropup>.dropdown-menu:before, .dropdown.dropup>.dropdown-menu:after, .dropdown.dropup>.dropdown-menu:before {
    display:none!important
}

.top-menu .dropdown-toggle:after {
    display:none
}


.dropdown-submenu {
    position:relative
}

.dropdown-submenu>.dropdown-menu {
    top:5px;
    left:100%;
    margin-top:-6px;
    margin-left:-1px
}

.dropdown-submenu>a:after {
    position:absolute;
    display:inline-block;
    font-size:14px;
    right:7px;
    top:7px;
    font-family:FontAwesome;
    height:auto;
    content:"\f105";
    font-weight:300
}

.dropdown-submenu:hover>.dropdown-menu {
    display:block
}

.dropdown-submenu:hover>a:after {
    border-left-color:#fff
}

.dropdown-submenu.pull-left {
    float:none
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px
}

.dropup .dropdown-submenu>.dropdown-menu {
    top:auto;
    bottom:0;
    margin-top:0;
    margin-bottom:-2px
}

.nav.pull-right>li>.dropdown-menu, .nav>li>.dropdown-menu.pull-right {
    right:0;
    left:auto
}

.dropdown .dropdown-menu {
    display: block;    
    opacity: .3;   
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
}

.show>.dropdown-menu {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
}

.nav.pull-right>li>.dropdown-menu:before, .nav>li>.dropdown-menu.pull-right:before {
    right:12px;
    left:auto
}

.nav.pull-right>li>.dropdown-menu:after, .nav>li>.dropdown-menu.pull-right:after {
    right:13px;
    left:auto
}

.nav.pull-right>li>.dropdown-menu .dropdown-menu, .nav>li>.dropdown-menu.pull-right .dropdown-menu {
    right:100%;
    left:auto;
    margin-right:-1px;
    margin-left:0
}

.img-responsive, .img-thumbnail, label {
    max-width: 100%;
    display: inline-block;   
}


.img-responsive {
   width: 100%;
}

.input-large {
    width: 320px !important;
}

.dropdown-checkboxes label, .dropdown-radiobuttons label {
    color: #333;
    display: block;
    font-weight: 300;
    margin-bottom: 4px;
    margin-top: 4px;
}

.dropdown-menu.dropdown-checkboxes, .dropdown-menu.dropdown-radiobuttons {
    padding: 5px;
}

/*------------------------------------------------

Tab class

-------------------------------------------------*/

.tabs-container .panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 15px;
    position: relative;
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
    background-color: #fff;
}

.tabs-container .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container .nav-tabs {
    border-bottom: 1px solid #e7eaec;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .tabs-left .tab-pane .panel-body, .tabs-container .tabs-right .tab-pane .panel-body {
    border-top: 1px solid #e7eaec;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #e7eaec #e7eaec #fff;    
}

.tabs-container .tabs-below > .nav-tabs, .tabs-container .tabs-right > .nav-tabs, .tabs-container .tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-container .tabs-left .panel-body {
    position: static;
}

.tabs-container .tabs-left > .nav-tabs, .tabs-container .tabs-right > .nav-tabs {
    width: 20%;
}

.tabs-container .tabs-left .panel-body {
    width: 80%;
    margin-left: 20%;
}

.tabs-container .tabs-right .panel-body {
    width: 80%;
    margin-right: 20%;
}

.tabs-container .tab-content > .tab-pane, .tabs-container .pill-content > .pill-pane {
    display: none;
}

.tabs-container .tab-content > .active, .tabs-container .pill-content > .active {
    display: block;
}

.tabs-container .tabs-below > .nav-tabs {
    border-top: 1px solid #e7eaec;
}

.tabs-container .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-container .tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-container .tabs-below > .nav-tabs > li > a:hover, .tabs-container .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container .tabs-left > .nav-tabs > li, .tabs-container .tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-container .tabs-left > .nav-tabs > li > a, .tabs-container .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-container .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
}

.tabs-container .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-container .tabs-left > .nav-tabs .active > a, .tabs-container .tabs-left > .nav-tabs .active > a:hover, .tabs-container .tabs-left > .nav-tabs .active > a:focus {
    border-color: #e7eaec transparent #e7eaec #e7eaec;
 *border-right-color: #ffffff;
}

.tabs-container .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
}

.tabs-container .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-container .tabs-right > .nav-tabs .active > a, .tabs-container .tabs-right > .nav-tabs .active > a:hover, .tabs-container .tabs-right > .nav-tabs .active > a:focus {
    border-color: #e7eaec #e7eaec #e7eaec transparent;
 *border-left-color: #ffffff;
    z-index: 1;
}

.tabbable-line>.tab-content {
    margin-top:0;
    border:0;
    border-top:1px solid #eef1f5;
    padding:30px 0
}


/*------------------------------------------------

icons custom page  class

-------------------------------------------------*/


.fa-item {
    font-size: 14px;
    padding: 10px 10px 10px 20px;
}

.fa-item:hover, .simplelineicons-demo .item-box .item:hover {
    background-color:rgba(86, 61, 124, .1)
}

.simplelineicons-demo .item-box {
    display:inline-block;
    font-size:16px;
    margin:0 -.22em 1em 0;
    padding-left:1em;
    width:100%
}

.simplelineicons-demo .item-box .item {
    background-color:#fff;
    color:#33383e;
    border-radius:8px;
    display:inline-block;
    padding:10px;
    width:100%
}

.bs-glyphicons, .glyphicons-demo ul {
    padding-left:0;
    padding-bottom:1px;
    margin-bottom:20px;
    overflow:hidden;
    list-style:none
}

.simplelineicons-demo .item-box .item span {
    font-size:22px
}

.simplelineicons-demo .item-box {
    width: 33.333%;
}

.glyphicons-demo ul li {
    float:left;
    width: 12.5%;
    height:115px;
    padding:10px;
    margin:0 -1px -1px 0;
    font-size:14px;
    line-height:1.4;
    text-align:center;
    border:1px solid #ddd
}

.glyphicons-demo .glyphicon {
    display:block;
    margin:5px auto 10px;
    font-size:24px;
    color:#444
}

.glyphicons-demo ul li:hover {
    background-color:rgba(86, 61, 124, .1)
}

.badge-default, .label-default {
    background-color:#bac3d0
}

/*------------------------------------------------

checkbox class

-------------------------------------------------*/

.form-inline .mt-checkbox {
    margin-left: 15px;
    margin-right: 15px;
}

 div[class*="icheckbox_"], div[class*="iradio_"] {
 margin-right: 5px;
 top: -1px !important;
}


/*------------------------------------------------

Jcrop Image Cropping 

-------------------------------------------------*/

.jcrop-holder #preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 10px;
    right: -280px;
    padding: 6px;
    border: 1px rgba(0, 0, 0, .4) solid;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

#preview-pane .preview-container {
    width: 250px;
    height: 170px;
    overflow: hidden;
}

.table-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}



/*------------------------------------------------

Data Tables

-------------------------------------------------*/

#openIssuesTable_info, #SalaryTable_info{
    float: left;
}

#openIssuesTable_paginate, #SalaryTable_paginate{
    float: right;
}
 
div.dataTables_wrapper div.dataTables_length label {
    margin: 0 10px;
}

div.dataTables_wrapper div.dataTables_filter label {
    margin: 0 10px;
}

div.dataTables_wrapper div.dataTables_info {
    margin: 0 10px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    float: right;
}

div.dataTables_wrapper .col-sm-12 {
    display: inline-table;
    width: 100%;
}

.dataTables_wrapper th .form-control.dataSearch {
     height: 18px;
    padding: 7px;
    width: auto;
}

.form-control.dataSearch {
    font-size: 13px;
    font-weight: normal;
    height: 30px;
    width: 100%;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 0;
}

.input-sm {
    border-radius: 3px;
    font-size: 13px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
}

.dataTables_scrollBody {
    margin-bottom: 8px;
}

 table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
 background-color: #00b5b8;
 border: 2px solid #fff;
 box-shadow: 0 0 14px -7px #222;
 box-sizing: content-box;
 color: white;
 content: "+";
 display: block;
 font-family: "Courier New", Courier, monospace;
 height: 14px;
 left: 4px;
 line-height: 14px;
 position: absolute;
 text-align: center;
 top: 9px;
 width: 14px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #00b5b8;
    border-color: #00b5b8;
    color: #fff;
    cursor: default;
    z-index: 3;
}

.pagination > li > a, .pagination > li > span {
    color: #00bcd4;
}

.borderedTable {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    padding: 15px;
}

.borderedTable .table {
    margin-bottom: 0;}

.table-bordered {
    border-color: #e7eaec;
}

.table > thead > tr > th {
    border-bottom: 0 solid #ddd;
}

.table.responsive{
    width: 100% !important;
}

.table.responsive{
    width: 100% !important;
}

.dataTable .img-avatar {
    border-radius: 30px;
    width: 35px;
}

.dataTable .t-flag{
    width: 35px;
}
.dataTable .text-muted {
   opacity: .5;
}

#proList_filter{display: none;}
#proList_wrapper{padding: 0;}
/*------------------------------------------------

colors ui 

-------------------------------------------------*/


.text-navy {
    color: #00b5b8;
}

.text-primary {
    color: inherit;
}

.text-success {
    color: #1c84c6;
}

.text-info {
    color: #23c6c8;
}

.text-warning {
    color: #f8ac59;
}

.text-danger {
    color: #ed5565;
}


.text-white {
    color: #ffffff;
}
.color-demo {
    border: 1px solid #eee;
    cursor: pointer;
    margin: 0 0 15px;
}

.color-demo .color-view {
    font-size: 18px;
    padding: 35px 10px;
    text-align: center;
}

.color-demo .color-info {
    border-top: 1px solid #eee;
    padding: 8px 10px;
    text-align: center;
}

.color-demo .btn {
    margin: 0;
    width: 100%;
}

.page-content.white-page-content {
    background: #fff;
}

/*------------------------------------------------

FULLCALENDAR

-------------------------------------------------*/

.fc-state-default {
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
    color: #333333;
    text-shadow: none;
}

.fc-state-default {
    border: 1px solid;
}

.fc-button {
    color: inherit;
    border: 1px solid #e7eaec;
    cursor: pointer;
    display: inline-block;
    height: 1.9em;
    line-height: 1.9em;
    overflow: hidden;
    padding: 0 0.6em;
    position: relative;
    white-space: nowrap;
}

.fc-state-default{
    background-image: none !important;
}

.fc-state-active {
    background-color: #00b5b8;
    border-color: #00b5b8;
    color: #ffffff;
}

.fc-header-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: inherit;
}

.fc-content .fc-widget-header, .fc-content .fc-widget-content {
    border-color: #e7eaec;
    font-weight: normal;
}

.fc-border-separate tbody {
    background-color: #F8F8F8;
}

.fc-state-highlight {
    background: none repeat scroll 0 0 #FCF8E3;
}

.external-event {
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}

.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
    border-radius: 2px;
}

.fc-event, .fc-agenda .fc-event-time, .fc-event a {
    padding: 4px 6px;
    background-color: #00b5b8;
    /* background color */
  border-color: #00b5b8;
    /* border color */
   margin-bottom: 5px;
}

.fc-event-time, .fc-event-title {
    color: #717171;
    padding: 0 1px;
}

.ui-calendar .fc-event-time, .ui-calendar .fc-event-title {
    color: #fff;
}

 li [class*=" icon-"], li [class^="icon-"] {
 position: relative;
 top: 1px;
}

 li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"], li [class^="fa-"], li [class^="glyphicon-"], li [class^="icon-"] {
 display: inline-block;
 text-align: center;
 width: 1.25em;
}

.border-after-grey-steel::after, .border-before-grey-steel::before, .border-grey-steel {
 border-color: #e9edef !important;
}

/*------------------------------------------------

Contact Page

-------------------------------------------------*/

.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-box > a {
    color: inherit;
}

.contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
}

.contact-box.center-version > a {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.contact-box.center-version > a img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-box.center-version address {
    margin-bottom: 0;
}

.contact-box .contact-box-footer {
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #e7eaec;
    padding: 15px 20px;
}

.contact-box .fa-map-marker {
    margin-right: 4px;
}

.contacts-card {
    position: relative;
}

.contacts-card img {
    border: 1px solid #e7eaec;
    border-bottom: 0;
}

.contacts-card .contact-box.center-version {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.contacts-card .contact-box.center-version > a {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: -100%;
    height: auto;
    position: absolute;
    padding: 20px;
    width: 100%;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.contacts-card:hover .contact-box.center-version > a {
    bottom: 0;
    color: #fff;
    height: auto;
    overflow: visible;
}

.contact-box-footer {
    background: #fff none repeat scroll 0 0;
    display: table;
    float: left;
    padding: 3px 0 10px;
    text-align: center;
    width: 100%;
    border: 1px solid #e7eaec;
    border-top: : 0;
    margin-bottom: 20px;
}

.contact-box-footer a {
    margin: 0;
}

/*------------------------------------------------

Profile Page

-------------------------------------------------*/

.profile-content {
    border-top: none !important;
}

.profile-stats {
    margin-right: 10px;
}

.profile-image {
    width: 120px;
    float: left;
}

.profile-image img {
    width: 96px;
    height: 96px;
}

.profile-info {
    margin-left: 120px;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}

.feed-element:first-child {
    margin-top: 0;
}

.feed-element {
    padding-bottom: 15px;
}

.feed-element, .feed-element .media {
    margin-top: 15px;
}

.feed-element, .media-body {
    overflow: hidden;
}

.feed-element > .pull-left {
    margin-right: 10px;
}

.feed-element img.rounded-circle, .dropdown-messages-box img.rounded-circle {
    width: 38px;
    height: 38px;
}

.feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}

.feed-element .actions {
    margin-top: 10px;    
}

.feed-element .photos {
    margin: 10px 0;
}

.feed-photo {
    max-height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.file-list li {
    padding: 5px 10px;
    font-size: 11px;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-bottom: 5px;
}

.file-list li a {
    color: inherit;
}

.file-list li a:hover {
    color: #00b5b8;
}

.user-friends img {
    width: 42px;
    height: 42px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.feed-element img.rounded-circle, .dropdown-messages-box img.rounded-circle {
    height: 38px;
    width: 38px;
}

/* Social feed */
.social-feed-separated .social-feed-box {
    margin-left: 62px;
}

.social-feed-separated .social-avatar {
    float: left;
    padding: 0;
}

.social-feed-separated .social-avatar img {
    width: 52px;
    height: 52px;
    border: 1px solid #e7eaec;
}

.social-feed-separated .social-feed-box .social-avatar {
    padding: 15px 15px 0 15px;
    float: none;
}

.social-feed-box {
    border: 1px solid #e7eaec;
    background: #fff;
    margin-bottom: 15px;
}

.social-action {
    margin: 15px;
}

.social-avatar {
    padding: 20px 20px 0 20px;
}

.social-comment .social-comment {
    margin-left: 45px;
}

.social-avatar img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.social-avatar .media-body a {
    font-size: 14px;
    display: block;
}

.social-action .dropdown-toggle:after {
    display:none
}

.social-body {
    padding: 20px;
}

.social-body img {
    margin-bottom: 10px;
}

.social-footer {
    border-top: 1px solid #e7eaec;
    padding: 20px;
    background: #f9f9f9;
}

.social-footer .social-comment img {
    width: 32px;
    margin-right: 10px;
}

.social-comment:first-child {
    margin-top: 0;
}

.social-comment {
    margin-top: 15px;
}

.social-comment textarea {
    font-size: 12px;
}

/* TEAMS */
.team-members {
    margin: 10px 0;
}

.team-members img.rounded-circle {
    width: 42px;
    height: 42px;
    margin-bottom: 5px;
}

/*------------------------------------------------

Blog and Article Page

-------------------------------------------------*/
.blog h2.hed {
    border-bottom: 1px solid #f2f2f2;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 7px;
}

.blog h5 {
    margin: 0 0 5px 0;
}

.blog .btn {
    margin: 0 0 5px 0;
}

.article h1 {
    font-size: 48px;
    font-weight: 700;
    color: #2F4050;
}

.article p {
    font-size: 15px;
    line-height: 26px;
}

.article-title {
    text-align: center;
    margin: 40px 0 100px 0;
}

.article .widgets-container {
    padding: 40px;
}

.article .social-feed-box {
    margin-bottom: 0;
    border-bottom: none;
}

.article .social-feed-box:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid #e7eaec;
}

.article .social-feed-box p {
    font-size: 13px;
    line-height: 18px;
}

/*------------------------------------------------

Issue Tracker  Page

-------------------------------------------------*/
 .issue-tracker .btn-link {
    color: #00b5b8;
}

table.issue-tracker tbody tr td {
    vertical-align: middle;
    height: 50px;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.024);
}

.issue-info {
    width: 50%;
}

.issue-info a {
    font-weight: 600;
    color: #676a6c;
}

.issue-info small {
    display: block;
}

/*------------------------------------------------

FAQ Page

-------------------------------------------------*/

.faq-item {
    padding: 20px;
    margin-bottom: 2px;
    background: #fff;
}

.faq-question {
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.faq-question:hover {
    color: #179d82;
}

.faq-answer {
    border-radius: 3px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
}

.faq-item .tag-item {
    background: #f3f3f4;
    padding: 2px 6px;
    font-size: 10px;
    text-transform: uppercase;
}


/*------------------------------------------------

INVOICE Page

-------------------------------------------------*/

 
.invoice-table tbody > tr > td:last-child, .invoice-table tbody > tr > td:nth-child(4), .invoice-table tbody > tr > td:nth-child(3), .invoice-table tbody > tr > td:nth-child(2) {
 text-align: right;
}

.invoice-table thead > tr > th:last-child, .invoice-table thead > tr > th:nth-child(4), .invoice-table thead > tr > th:nth-child(3), .invoice-table thead > tr > th:nth-child(2) {
 text-align: right;
}

.invoice-total > tbody > tr > td:first-child {
    text-align: right;
}

.invoice-total > tbody > tr > td {
    border: 0 none;
}

.invoice-total > tbody > tr > td:last-child {
    border-bottom: 1px solid #DDDDDD;
    text-align: right;
    width: 15%;
}


/*------------------------------------------------

Error, Login & Lockscreen

-------------------------------------------------*/

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}

.lockscreen.middle-box {
    width: 200px;
    padding-top: 110px;
}

.loginscreen.middle-box {
    width: 350px;
}

.loginColumns {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    margin: 0 auto;
    max-width: 315px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.passwordBox {
    max-width: 460px;
    margin: 0 auto;
    padding: 35px 20px 20px 20px;
}

.login-copyright {
    color: #e6e6e6;
    margin-top: 8px;
    text-align: center;
}

.login .logo {
    margin: 60px auto 0;
    padding: 15px;
    text-align: center;
}

.login .logo img {
    width: 230px;
}

.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}

.middle-box h1, .loginColumns h1 {
    font-size: 100px;
    letter-spacing: -5.1px;
    margin: 0;
}

.wrapper .middle-box {
    margin-top: 140px;
}

.lock-word {
    z-index: 10;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -470px;
}

.lock-word span {
    font-size: 100px;
    font-weight: 600;
    color: #e9e9e9;
    display: inline-block;
}

.lock-word .first-word {
    margin-right: 160px;
}

.middle-box h1.head {
    font-size: 150px;
    margin-top: 25px;
}

.error-wrapper {
    height: 624px;
    margin: 0 auto -130px;
    min-height: 100%;
    padding: 0 0 60px;
}

.error-container ul.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.error-container ul.footer-links li {
    border-right: 1px solid #000;
    display: inline;
    padding: 0 10px;
}

.error-container ul.footer-links li:last-child {
    border-right: medium none;
    display: inline;
    padding: 0 10px;
}

.error-container ul.footer-links li a {
    color: #22262e;
    font-size: 12px;
}

.error-container ul.footer-links.small-links li {
    border-right: 1px solid #616a7b;
}

.error-container ul.footer-links.small-links li:last-child {
    border-right: medium none;
}

.error-container ul.footer-links.small-links li a {
    color: #616a7b;
    font-size: 11px;
}

.error-container .copyright {
    font-size: 12px;
    text-align: center;
}

/*---login page-2---*/

.login-layout-full .page-brand-info {
    color: #fff;
    margin: 220px 413px 0 90px;
}

.login-layout-full .brand {
    margin-bottom: 22px;
}

.login-layout-full .brand img{
    width: 270px;
    opacity: .7;
}

.loginColumns {
    padding-bottom: 30px;
}

.loginColumns .copyR {
    border-top: 1px solid #ddd;
    bottom: 0;
    left: 0;
    padding-top: 9px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.login-layout-full .page-brand-info p {
    max-width: 650px;
    opacity: 0.6;
    font-size: 20px !important;
}

 .login-layout-full::after {
 background-color: rgba(38, 50, 56, 0.6);
 content: "";
 height: 100%;
 left: 0;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: -1;
}

.login-layout-full::before {
 background-image: url("#{resource['assets/images/login-bg/1.jpg']}");
 background-position: center top;
 background-size: cover;
 content: "";
 height: 100%;
 left: 0;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: -1;
}

/*------------------------------------------------

DASBOARD

-------------------------------------------------*/

.dashboard-header {
    border-top: 0;
    padding: 20px;
}

.dashboard-header h2 {
    margin-top: 10px;
    font-size: 26px;
    margin-bottom: 5px;
}

.fist-item {
    border-top: none !important;
}

.statistic-box {
    margin-top: 40px;
}

.dashboard-header .list-group-item span.label {
    margin-right: 10px;
}

.list-group.clear-list .list-group-item {
    border-top: 1px solid #e7eaec;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px 0;
}

ul.clear-list:first-child {
    border-top: none !important;
}

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

.sparkline-chart {
    margin-top: 15px;
    position: relative;
}

.easy-pie-chart, .sparkline-chart {
    text-align: center;
}

.sparkline-chart .chartBox {
    margin: 0 auto 10px;
    width: 100px;
}

/*--------------------widget------------------*/

.widget {
    color:#fff
}

.widget.white-bg{
    color: inherit;
    }

.widget.widget-stats {
 position:relative border-radius: 3px;
    overflow: hidden;
    padding: 15px;
}

.widget-stats .stats-info h4 {
    font-size:12px;
    margin:5px 0;
    color:#fff
}

.widget-stats .stats-icon {
    font-size:42px;
    height:56px;
    width:56px;
    text-align:center;
    line-height:56px;
    margin-left:15px;
    color:#fff;
    position:absolute;
    right:15px;
    top:15px;
    opacity:.2;
    filter:alpha(opacity=20)
}

.widget-stats .stats-info p {
    font-size:24px;
    font-weight:300;
    margin-bottom:0
}

.widget-stats .stats-link a {
    display:block;
    margin:15px -15px -15px;
    padding:7px 15px;
    background:rgba(0, 0, 0, .4);
    text-align:right;
    color:#ddd;
    font-weight:300;
    text-decoration:none
}

.widget-stats .stats-icon.stats-icon-lg {
    font-size:52px;
    top:12px;
    right:21px
}

.widget-stats .stats-title {
    position:relative;
    line-height:1.1;
    font-size:12px;
    margin:2px 0 7px
}

.widget-stats .stats-desc, .widget-stats .stats-title {
    color:#fff;
    color:rgba(255, 255, 255, .6)
}

.widget-stats .stats-desc {
    font-weight:300;
    margin-bottom:0
}

.widget-stats .stats-number {
    font-size:24px;
    font-weight:300;
    margin-bottom:10px
}

.widget-stats .stats-progress {
    background:url(../img/transparent/black-0.2.html);
    background:rgba(0, 0, 0, .2);
    height:2px;
    margin:0 -15px 12px
}

.widget-stats .stats-progress .progress-bar {
    background:#fff
}

/*-------------Dashboard Chart----------*/
#dashboardChart {
    font-size: 11px;
    height: 430px;
    width: 100%;
}

/*-------------Dashboard Chart----------*/

/*--------------------*/

.stat-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.stat-percent {
    float: right;
}

.legendLabel {
    padding-left: 5px;
}

.list-widget ul > li {
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    padding: 13px 20px;
}

.list-widget ul > li > i {
    display: inline-block;
    width: 20px;
}

#icons .icon {
    cursor:pointer;
    display:block;
    font-size: 22px;
    height: 25px;
    line-height:1;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    -webkit-transition:-webkit-transform .2s;
    transition:-webkit-transform .2s;
    -o-transition:-o-transform .2s;
    transition:transform .2s;
    transition:transform .2s, -webkit-transform .2s, -o-transform .2s;
    width:64px
}

#icons .icon:hover {
    -webkit-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5)
}

#icons .fontClassName {
    color:#757575;
    display:block;
    font-size:11px;
    margin-bottom:45px;
    margin-top:5px;
    overflow:hidden;
    text-align:center;
    text-overflow:ellipsis;
    white-space:nowrap
}


/*------------------------------------------------

Text Editer

-------------------------------------------------*/

#editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate;
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: auto;
    outline: none;
}

#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}

/*------------------------------------------------

Page Header

-------------------------------------------------*/


.page-header.navbar .search-form.search-form-expanded {
    border-color: #676a6c;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    transition: all 0.6s ease 0s;
    width: 115px;  
}

.page-header.navbar .search-form {
    border: 1px solid #e4e4e4;
    border-radius: 0;
}

.search-form .input-group .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 0 none;
    font-size: 13px;
    height: 26px;
    margin-left: 12px;
    padding-left: 0;
}

.search-form .input-group .input-group-btn {
    height: 26px;
    width: 34px;
}

.page-header.navbar .btn.submit {
    color: #222;
    font-size: 13px;
    margin-top: 6px;
}

.page-header.navbar .search-form.search-form-expanded.open {
    width: 160px !important;
}

.page-header.navbar {
    background-image: none;
    border: 0 none;
    filter: none;
    height: 56px;
    margin: 0;
    min-height: 56px;
    padding: 0;
    width: 100%;

    box-shadow:0 0 8px 0 rgba(0,0,0,.12);
-webkit-box-shadow:0 0 8px 0 rgba(0,0,0,.12);
-moz-box-shadow:0 0 8px 0 rgba(0,0,0,.12);
}

.page-header.navbar .page-logo {   
    display: block;
    float: left;
    height: 56px;
    transition: all 0.4s ease 0s;
    width: 220px;   
}

.page-header.navbar .hor-menu {
    float: left;
    margin: 0;
}

.hor-menu .nav-link {
    color: inherit;
    display: block;
    font-size: 14px;
    padding: 18px 12px;
}

.page-header.navbar .menu-toggler {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 24px;
    opacity: 0.7;
    width: 24px;
}

.page-header.navbar .page-logo .logo-default {
    height: 32px;
    margin: 14px 0 0;
}

.page-header.navbar .top-menu .navbar-nav {
    display: block;
    margin-right: 20px;
    padding: 0;
}

.library-menu {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 20px;
    float:left;
}

.library-menu span {
    background-color: #cccccc;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 22px;
}

.library-menu span:last-child {
    margin-bottom: 0;
}

.library-menu span.one, .library-menu span.two, .library-menu span.three {
    transform: rotate(0deg) translate3d(0px, 0px, 0px);
    transition: transform 350ms;
}

.library-menu.active span.one {
    transform: rotate(60deg) translate3d(11px, -3px, 0px);
    background-color: #00b5b8;
}

.library-menu.active span.two {
    transform: rotate(75deg) translate3d(-1px, 1px, 0px);
    background-color: #00b5b8;
}

.library-menu.active span.three {
    transform: rotate(90deg) translate3d(-10px, 10px, 0);
    background-color: #00b5b8;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown {
    display: inline-block;
    min-height: 46px;
    margin: 0;
    padding: 0 4px;
    position: relative;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown:last-child {
    padding-right: 0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    padding: 14px 6px 17px 8px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
    display: inline-block;
    float: left;
    height: 29px;
    margin-right: 8px;
    margin-top: -5px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i {
    font-size: 17px;
}

.page-header .top-menu .dropdown-quick-sidebar-toggler > .dropdown-toggle i {
    top: 0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:before {
    position:absolute;
    top:-7px;
    right:9px;
    display:inline-block!important;
    border-right:7px solid transparent;
    border-bottom:7px solid #eee;
    border-left:7px solid transparent;
    border-bottom-color:rgba(0, 0, 0, .2);
    content:''
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:after {
    position:absolute;
    top:-6px;
    right:10px;
    display:inline-block!important;
    border-right:6px solid transparent;
    border-bottom:6px solid #fff;
    border-left:6px solid transparent;
    content:''
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu>li>a {
    color:#555
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a {
    font-size: 12px;
    font-weight: 300;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a i {
    display: inline-block;
    margin-right: 9px;
    width: 15px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    min-width:160px;
    max-width:275px;
    width:275px;
    z-index:9995
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    display:block;
    overflow:hidden;
    padding:15px;
    letter-spacing:.5px;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -ms-border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    margin:0;
    padding:0;
    float:left;
    font-size:13px;
    display:inline-block
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
    display:inline-block;
    padding:0;
    background:0 0;
    clear:inherit;
    font-size:13px;
    font-weight:300;
    position:absolute;
    right:10px;
    border:0;
    margin-top:-1px
}

.page-header.navbar .top-menu .navbar-nav > li > .dropdown-menu {
    left: auto;   
    width: 195px;
    border-radius: 0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a .badge {
    margin-right: 10px;
}

.dropdown-menu > li > a > .badge {
    display: inline;
    margin-top: 1px;
    position: absolute;
    right: 3px;
}
 
/*------------------------------------------------

Page Sidebar

-------------------------------------------------*/

.page-sidebar-closed.page-sidebar-fixed .page-sidebar.navbar-collapse:hover, .page-sidebar.navbar-collapse {
    box-shadow: none;
    padding: 0;
}

.page-sidebar-closed .page-sidebar, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
    width: 45px;
}

.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 45px;
}

.page-sidebar-closed .page-sidebar .slimScrollDiv,.page-sidebar-closed .page-sidebar .slimScrollDiv .page-sidebar-menu{
    overflow: visible !important;
    height: auto !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar{
    height: 100%;
    padding-top: 55px;
    position: absolute !important;
    top: 0;
}

.page-sidebar-closed .page-header.navbar .page-logo {   
    overflow: hidden;
    width: 0;
}

.page-header.navbar .sidebar-close-logo{  
    display: none;
    float: left;
    height: 56px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 45px;
}

.page-sidebar-closed .page-header.navbar .sidebar-close-logo {   
    display: block;    
}

.page-header.navbar .sidebar-close-logo .logo-default {
    height: 46px;
	margin: 5px 3px 0;   
}

.page-sidebar-closed .page-header.navbar .sidebar-close-logo a {
    width: 100%;
    float: left;
    height: 56px;
    text-align: center;
}


.page-sidebar-closed .page-sidebar .page-sidebar-menu > li > a span {
    display: none;
}


.page-sidebar-closed .page-sidebar .page-sidebar-menu .nav-item:hover > .sub-menu {
    display: block;
}


.page-sidebar-fixed .page-sidebar {
    position: fixed;
    top: 56px;
}

.slimScrollDiv {
    border: medium none;
    box-shadow:1px 0 20px rgba(0, 0, 0, 0.08);
-webkit-box-shadow:1px 0 20px rgba(0, 0, 0, 0.08);
-moz-box-shadow:1px 0 20px rgba(0, 0, 0, 0.08);
}

/*.page-sidebar-closed.page-sidebar-fixed .page-sidebar {
    width: 0;
}

.page-sidebar-closed.page-sidebar-fixed .page-content {
    margin-left: 0;
}
*/

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
    display: block;
    position: relative;
    width: 256px;
    z-index: 10000;
    display: block;
    height: auto;
    overflow: visible;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu .sub-menu .open .sub-menu {
    display: block;
    position: relative;
    z-index: 10000;
    display: block;
    height: auto;
    overflow: visible;
}

.page-sidebar .sub-menu::before {
 border-left: 1px solid #b4bcc8;
 bottom: 0;
 content: "";
 display: block;
 left: 23px;
 position: absolute;
 top: 0;
 z-index: 1;
 opacity: 0.5;
}

.page-sidebar .sub-menu li::before {
 border-top: 1px solid #b4bcc8;
 content: "";
 display: block;
 left: 23px;
 position: absolute;
 top: 16px;
 width: 8px;
 z-index: 1;
 opacity: 0.5;
}

 .page-sidebar-closed .page-sidebar .sub-menu::before {
    display: none;
    }

.page-sidebar-closed .page-sidebar .sub-menu li::before {
    display: none;
    }

.page-content {
    margin-top: 0;
    padding: 0;
    transition: right 0.9s ease 0s;
}

.page-content-wrapper .page-content {
    margin-left: 220px;
    margin-top: 0;    
     padding: 20px;
    position: relative;
    transition: all 0.4s ease 0s;
}

.page-sidebar {
    float: left;
    margin-right: -100%;
    position: relative;
    width: 220px;
    transition: all 0.4s ease 0s;
    z-index: 999;
}

.page-header-fixed .page-container {      
    position: relative;
}

.page-header-fixed.page-sidebar-closed .page-container {  
    display: flex;
    position: relative;
}


.page-header.navbar .page-logo > .logo-image, .page-header.navbar .page-logo > a {
    display: inline-block;
    float: left;
    height: 56px;
    padding-left: 15px;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
    float: right;
    margin: 11px 0 0;
}

.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.page-sidebar .page-sidebar-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
   
    display: block;
    margin: 0;
    padding: 0;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading {
    display: none;   
}

.page-sidebar .sidebar-search, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search {
    margin: 22px 18px;
    padding: 0;
}

.page-sidebar .sidebar-search .input-group .form-control, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
    border: 0 none;
    border-radius: 4px;
    font-size: 14px;
    height: auto;
    padding: 0;
}

.page-sidebar .sidebar-search .input-group .input-group-btn .btn, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn {
    background-color: transparent;
    background-position: 100% 3px;
    background-repeat: no-repeat;
    padding: 2px 0 0;
}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    border: medium none;
    font-size: 14px;
    text-shadow: none;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border: 0 none;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 12px 10px;
    position: relative;
    text-decoration: none;
}

 .page-sidebar .page-sidebar-menu li > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow::before {
     content: "";
     display: inline;
     float: right;
     font-family: FontAwesome;
     font-size: 16px;
     font-weight: 300;
     height: auto;
     position: absolute;
     right: 14px;
     text-align: center;
     text-shadow: none;
     top: 9px;
     width: 20px;
    }

 .page-sidebar .page-sidebar-menu li.open > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.open > a > .arrow.open::before {
     content: "";
    }

.page-sidebar-menu li {
    position: relative;
}

.page-sidebar .page-sidebar-menu .sub-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1) 0s;
}

.page-sidebar .page-sidebar-menu .open > .sub-menu {
    max-height: 1000px;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 6px 43px;
    text-decoration: none;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu .sub-menu li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 6px 15px 6px 20px;
    text-decoration: none;
}

.page-sidebar .page-sidebar-menu .sub-menu li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px !important;
    padding: 0;
}

.page-sidebar .page-sidebar-menu > li.heading, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading {
    padding: 15px;
}

.page-sidebar .page-sidebar-menu li > a > .badge, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .badge {
    float: right;
    margin-right: 0;
    margin-top: 1px;
    position: absolute;
    right: 14px;
    top: 6px;
}

.page-sidebar .page-sidebar-menu > li i {
    margin-left: 1px;
    margin-right: 4px;
}

.page-sidebar .page-sidebar-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a {
    position: relative;
}

.page-sidebar .page-sidebar-menu > li.active > a > .selected, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .selected {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
    border-top: 12px solid transparent;
    display: block;
    float: right;
    height: 0;
    position: absolute;
    right: 0;
    top: 8px;
    width: 0;
}

.navbar-nav > li > a {   
      display: block;
    padding: 18px 15px;
    position: relative;
}

.count-info .badge {
    position: absolute;
    right: 6px;
    top: 12px;
}

.label-warning, .badge-warning {
    background-color: #ff7588;
    color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav > li > .dropdown-menu.menuBig {
    min-width: 0;
    width: 350px;
}

.dropdown-menu li a div {
    white-space: normal;
}

.dropdown-alerts a {
    font-size: 12px;
}

.dropdown-messages, .dropdown-alerts {
    padding: 10px;
}

.sidebar-container ul.nav-tabs.navs-3 li.dropdown li {
    width: 100%;
}

.sidebar-container ul.nav-tabs.navs-3 li.dropdown .dropdown-menu.pull-right {
    border: medium none;
    right: -2px;
    background:#364150;
}

.sidebar-container ul.nav-tabs.navs-3 li.dropdown li.divider {
    background-color: #3d4a55;
}

.sidebar-container ul.nav-tabs.navs-3 li.dropdown li a {
    text-align: left;
}

.slimScrollBar {
    border-radius: 10px !important;
    height: 80px;
    opacity: 0.2 !important;
}

.page-sidebar .sidebar-search .remove, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .remove {
    display: none;
}

.page-sidebar-closed .page-sidebar .sidebar-search .input-group {
    border-color: transparent;
    margin-left: -4px;
}

.page-sidebar-closed .page-sidebar li.sidebar-search-wrapper:hover {
    width: 45px !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 11px;
    margin: 10px -5px 8px -7px;
    width: 11px;
    color: #4e5c6f;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .input-group {
    margin-left: 24px;
    padding: 0;
    position: relative;
    width: 210px;
    z-index: 1;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .input-group {
    margin-left: 24px;
    padding: 0;
    position: relative;
    width: 210px;
    z-index: 1;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .input-group .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: block;
    padding: 8px;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .input-group .input-group-btn .btn {
    display: block;
    margin-right: 8px;
    margin-top: 1px;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .input-group .input-group-btn .btn.submit {
    margin-bottom: 0;
    margin-top: 1;
}

.page-sidebar-closed .page-sidebar .sidebar-search .input-group .input-group-btn .btn.submit {
    margin-bottom: 8px;
    margin-top: 4px;
}


/*------------------------------------------------

Progress Bar

-------------------------------------------------*/

.progress-bar {
    background-color: #00bcd4;
}

.progress-small, .progress-small .progress-bar {
    height: 10px;
}

.progress-small, .progress-mini {
    margin-top: 5px;
}

.progress-mini, .progress-mini .progress-bar {
    height: 5px;
    margin-bottom: 5px;
}

.progress-bar-navy-light {
    background-color: #3dc7ab;
}

.progress-bar-success {
    background-color: #1c84c6;
}

.progress-bar-info {
    background-color: #23c6c8;
}

.progress-bar-warning {
    background-color: #f8ac59;
}

.progress-bar-danger {
    background-color: #ed5565;
}

.progress + .progress {
    margin-top: 1rem;
}

/*------------------------------------------------

Breadcrumb Bar

-------------------------------------------------*/
 
.breadcrumb {
    background-color: #ffffff;
    margin-bottom:0;
    padding: 0;
}

.breadcrumb > li a {
    color: inherit;
}

.breadcrumb > .active {
    color: inherit;
}

 

/*---page heading---*/
.page-heading {
    background: #fff none repeat scroll 0 0;
    border-top: 0 none;
    margin: -20px -20px 0;
    padding: 20px;
}

.page-heading h2 {
    margin-top: 0;
}

/*------------------------------------------------

scrollup 

-------------------------------------------------*/

.scrollup {
    z-index: 10001;
    position: fixed;
    bottom: 46px;
    right: 20px;
    background: #000;
    background: rgba(0, 0, 0, .2);
    width: 50px;
    height: 50px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 3px !important;
    display: none;
     -webkit-transition: all .3s linear;
     -moz-transition: all .3s ease;
     -ms-transition: all .3s ease;
     -o-transition: all .3s ease;
     transition: all .3s ease
    }

.scrollup i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    opacity:.4 -webkit-transition:all .3s ease;
     -moz-transition: all .3s ease;
     -ms-transition: all .3s ease;
     -o-transition: all .3s ease;
     transition: all .3s ease
}

.scrollup:hover i {
    color: #fff;
    top: 5px;
    opacity: .9
}

 
/*------------------------------------------------

footer 

-------------------------------------------------*/

 
.footer {
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}

.page-footer-fixed .footer {
    margin-left: 222px;
    position: fixed;
    right: 0;
    z-index: 999;
}


.page-footer-fixed.page-sidebar-closed .footer {
    margin-left: 45px;   
   }

.nav-tabs > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}

.list-inline {
    list-style: outside none none;
    margin-left: -5px;
    padding-left: 0;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

/*------------------------------------------------

Salary Table 

-------------------------------------------------*/
 
#SalaryTable_wrapper div.dt-buttons, #allIssuesTable_wrapper div.dt-buttons, #closeIssuesTable_wrapper div.dt-buttons, #openIssuesTable_wrapper div.dt-buttons, #openIssuesTable1_wrapper div.dt-buttons {
    margin-left: 0;
}

#allIssuesTable_wrapper.dataTables_wrapper div.dataTables_filter label, #closeIssuesTable_wrapper.dataTables_wrapper div.dataTables_filter label, #openIssuesTable_wrapper.dataTables_wrapper div.dataTables_filter label, #SalaryTable_wrapper.dataTables_wrapper div.dataTables_filter label, #openIssuesTable1_wrapper.dataTables_wrapper div.dataTables_filter label {
    margin-right: 0;
}

.slick-list {
    border: 1px solid #00b5b8;
}

 .slick-prev::before, .slick-next::before {
 color: #00b5b8 !important;
}

 .slick-dots li.slick-active button::before {
 color: #00b5b8;
}

.pro-list {
    list-style: outside none none;
    padding-left: 0;
}

.pro-list li {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    width: 100%;
}

.pro-list li .fa {
    margin-right: 7px;
}

.recenty-viewed {
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 5px;
    text-align: center;
}

.profile-info h2 {
    font-size: 16px;
    margin-top: 0;
}

.profile-info h4 {
    color: #ccc;
    font-weight: 100;
}

.stat-list h2 {
    font-size: 16px;
}

 
/*------------------------------------------------

input class

-------------------------------------------------*/

 .input-icon {
    left: 0;
    position: relative;
}

.input-icon > .form-control {
    padding-left: 33px;
}

.input-icon.right > .form-control {
    padding-left: 12px;
    padding-right: 33px;
}

.input-icon.right > i {
    float: right;
    left: auto;
    right: 8px;
}

.input-icon > i {
    color: #ccc;
    font-size: 16px;
    left: 0;
    margin: 11px 2px 4px 10px;
    position: absolute;
    text-align: center;
    width: 16px;
    z-index: 3;
}

.input-icon.right > i {
    float: right;
    left: auto;
    right: 8px;
}

.input-icon.input-icon-lg > i {
    margin-top: 16px;
}

.input-icon.input-icon-sm > i {
    font-size: 13px;
    margin-top: 8px;
}

 
/*---form control---*/
.form-control:focus {
    border-color: #00b5b8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}


/*------------------------------------------------

chart css

-------------------------------------------------*/

.flot-chart-box {
    display: block;
    height: 200px;
}

.flot-chart-box-d2 {
    height: 280px;
    display: block;
}

#target4 {
    width: 100%
}

.chartdiv-container {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0 auto 20px;
    padding: 20px 15px 15px;
    width: 100%;
}

.desh-3-chart-text {
    font-size: 28px;
}
.text-overflow {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#chartdiv, #chartValueAxis, #Bar-line, #trendLines, #simplePieChart, #pyramidChart, #polarChart, #stockChart, #flightRoutes {
    width: 100%;
    height: 500px;
    font-size : 11px;
}

#clockChart{
    width: 100%;
    height: 250px;
    font-size : 11px;
}

#ganttChart {
    width: 100%;
    height: 800px;
}

#cylinderChart, #ColumnChart, #DateBasedData, #LineChangingColor, #donutChart {
    width : 100%;
    height : 435px;
    font-size : 11px;
}

.chartLBox {
    width: 100%;
    height: 600px;
}

 
/*------------------------------------------------

google mape

-------------------------------------------------*/

.gmaps {
    height: 300px;
    width: 100%;
    margin-bottom:10px;
}

/*------------------------------------------------

jqv mape

-------------------------------------------------*/

.jqvmap-zoomin, .jqvmap-zoomout {
    background: #00b5b8 none repeat scroll 0 0;
    border-radius: 3px;
    box-sizing: content-box;
    color: white;
    cursor: pointer;
    left: 10px;
    line-height: 10px;
    padding: 3px;
    position: absolute;
    text-align: center;
}

/*------------------------------------------------

horizontal TimeLine

-------------------------------------------------*/

.cd-horizontal-timeline .events a {
    font-size: 13px;  
}

.mt-timeline-horizontal .timeline .mt-ht-nav-icon li:first-child a i {
    left: 3px;
}

.mt-timeline-horizontal .timeline .mt-ht-nav-icon li a i{
   left: 5px; 
}
/*------------------------------------------------

PEACE 

-------------------------------------------------*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #ff7588;
  position: fixed;
  z-index: 2040;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.pace-inactive {
  display: none;
}

.nav-link.dropdown-item {
    font-size: 12px;
}

/*------------------------------------------------

WIDGETS 

-------------------------------------------------*/

.widget {
  border-radius: 2px !important;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.widget.style1 h2 {
  font-size: 30px;
}

.widget h2,
.widget h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.widget-text-box {
  padding: 20px;
  border: 1px solid #e7eaec;
  background: #ffffff;
}

.widget-head-color-box {
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
}

.widget .flot-chart {
  height: 100px;
}

.widget .flot-chart-x {
  height: 200px;
}

.widget .flot-chart-content {
    width: 100%;
    height: 100%;
}

.widget-m{
    padding: 20px;
}

.vertical-align div {
  display: inline-block;
  vertical-align: middle;
}
.vertical-align h2,
.vertical-align h3 {
  margin: 0;
}

.todo-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.todo-list.small-list {
  font-size: 12px;
}

.todo-list.small-list > li {
  background: #f3f3f4;
  border-left: none;
  border-right: none;
  border-radius: 4px;
  color: inherit;
  margin-bottom: 2px;
  padding: 6px 6px 6px 12px;
}

.todo-list.small-list .btn-xs,
.todo-list.small-list .btn-group-xs > .btn {
  border-radius: 5px;
  font-size: 10px;
  line-height: 1.5;
  padding: 1px 2px 1px 5px;
}

.todo-list > li {
    margin-bottom: 2px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.todo-list .handle {
  cursor: move;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
}

.todo-list > li .label {
  font-size: 9px;
  margin-left: 10px;
}

.check-link {
  font-size: 16px;
}

.todo-completed {
  text-decoration: line-through;
}

.geo-statistic h1 {
  font-size: 36px;
  margin-bottom: 0;
}

.glyphicon.fa {
  font-family: "FontAwesome";
}

/*------------------------------------------------

chat-Box

-------------------------------------------------*/
#small-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
#small-chat .badge {
  position: absolute;
  top: -3px;
  right: -4px;
}
#small-chat .open-small-chat {
  height: 38px;
  width: 38px;
  display: block;
  background: #00bcd4;
  padding: 9px 8px;
  text-align: center;
  color: #fff ;
  cursor: pointer;
  border-radius: 50% !important;
}
.open-small-chat:hover {
  color: white;
  background: #09bad1;
}
.small-chat-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    border-radius: 4px;
    bottom: 20px;
    display: none;
    height: 320px;
    position: fixed;
    right: 75px;
    width: 230px;
    z-index: 50;
}
.small-chat-box.ng-small-chat {
  display: block;
}
.body-small .small-chat-box {
  bottom: 70px;
  right: 20px;
}
.small-chat-box.active {
  display: block;
}
.small-chat-box .heading {
  background: #2f4050;
  padding: 8px 15px;
  font-weight: bold;
  color: #fff;
}
.small-chat-box .chat-date {
  opacity: 0.6;
  font-size: 10px;
  font-weight: normal;
}
.small-chat-box .content {
  padding: 15px 15px;
}
.small-chat-box .content .author-name {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 11px;
}
.small-chat-box .content > div {
  padding-bottom: 20px;
}
.small-chat-box .content .chat-message {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 14px;
  max-width: 80%;
  background: #f3f3f4;
  margin-bottom: 10px;
}
.small-chat-box .content .chat-message.active {
  background: #00bcd4;
  color: #fff;
}
.small-chat-box .content .left {
  text-align: left;
  clear: both;
}
.small-chat-box .content .left .chat-message {
  float: left;
}
.small-chat-box .content .right {
  text-align: right;
  clear: both;
}
.small-chat-box .content .right .chat-message {
  float: right;
}
.small-chat-box .form-chat {
  padding: 10px 10px;
}

.small-chat-box .chetInput{
    height: 31px;
}




/*------------------------------------------------

Big chat box

-------------------------------------------------*/

.big-chat-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    border-radius: 4px;
    bottom: 20px;
    margin-bottom: 20px;
    right: 75px;
    width: 100%;
    height: 320px;
}


.big-chat-box.active {
  display: block;
}
.big-chat-box .heading {
  background: #2f4050;
  padding: 8px 15px;
  font-weight: bold;
  color: #fff;
}
.big-chat-box .chat-date {
  opacity: 0.6;
  font-size: 10px;
  font-weight: normal;
}
.big-chat-box .content {
  padding: 15px 15px;
}
.big-chat-box .content .author-name {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 11px;
}
.big-chat-box .content > div {
  padding-bottom: 20px;
}
.big-chat-box .content .chat-message {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 14px;
  max-width: 80%;
  background: #f3f3f4;
  margin-bottom: 10px;
}
.big-chat-box .content .chat-message.active {
  background: #00bcd4;
  color: #fff;
}
.big-chat-box .content .left {
  text-align: left;
  clear: both;
}
.big-chat-box .content .left .chat-message {
  float: left;
}
.big-chat-box .content .right {
  text-align: right;
  clear: both;
}
.big-chat-box .content .right .chat-message {
  float: right;
}
.big-chat-box .form-chat {
  padding: 10px 10px;
}

.big-chat-box .chetInput{
    height: 31px;
}

/*------------------------------------------------

RangeSlider 

-------------------------------------------------*/

.irs {   
    width: 100%;
}
