<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/pages/ticket-card.css" />
</h:head>


<ui:decorate template="/template/masterTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{ticketController.id}' />
		<f:event type="preRenderView"
			listener="#{ticketController.preRenderView()}" />
	</f:metadata>

	<ui:param name="maintitle" value="#{app.ticket}"></ui:param>

	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item"><h:link outcome="ticket-list">#{app.tickets}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{ticketController.ticket.displayName()}</strong></li>
	</ui:define>


	<ui:define name="contentInForm">
		<o:massAttribute name="disabled" value="#{!ticketController.canEdit}">

			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<i class="icon fa fa-user-o icon-panel"
							style="float: left; margin-right: 8px;"></i>
						<h5>#{app.ticket}</h5>
						<div class="ibox-tools">
							<a class="collapse-link" data-toggle="collapse"
								data-target="#main-info" aria-expanded="true"> <i
								class="fa fa-chevron-up icon-panel"></i> <i
								class="fa fa-chevron-down icon-panel"></i>
							</a>
							<div class="tools-item"></div>
						</div>
						<!-- ibox-tools -->
					</div>
					<!-- / ibox-title -->
					<div class="ibox-content collapse show" id="main-info"
						aria-expanded="true" style="">

						<div class="widgets-container">
							<div class="form-group">
								<div class="col-md-6">
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="date" styleClass="control-label"
												value="#{app.date}:" />
										</div>
										<div class="col-md-8">
											<p:calendar id="date" pattern="dd-MM-yyyy"
												value="#{ticketController.ticket.date}"
												showButtonPanel="true" navigator="true"
												inputStyleClass="form-control" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="from" styleClass="control-label"
												value="#{app.customer_name}:" />
										</div>
										<div class="col-md-8">
											<p:selectOneMenu id="from"
												value="#{ticketController.ticket.from}"
												filterMatchMode="contains" filter="true"
												converter="#{customerConverter}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{ticketController.allCustomers}"
													var="customer" itemLabel="#{customer.displayName()}"
													itemValue="#{customer}" />
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="to" styleClass="control-label"
												value="#{app.supplier_name}:" />
										</div>
										<div class="col-md-8">
											<p:selectOneMenu id="to"
												value="#{ticketController.ticket.to}"
												filterMatchMode="contains" filter="true"
												converter="#{supplierConverter}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{ticketController.allSuppliers}"
													var="supplier" itemLabel="#{supplier.displayName()}"
													itemValue="#{supplier}" />
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="salesMan" styleClass="control-label"
												value="#{app.sales_man}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="salesMan"
												value="#{ticketController.ticket.salesMan}"
												styleClass="form-control" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="ticketNumber" styleClass="control-label"
												value="#{app.ticket_number}:" />
										</div>
										<div
											class="#{ticketController.ticket.id == null ? 'col-md-6' : 'col-md-8'}">
											<h:inputText id="ticketNumber"
												value="#{ticketController.ticket.ticketNumber}"
												styleClass="form-control" />
										</div>
										<div class="col-md-2">
											<p:inputNumber id="numberOfTickets"
												rendered="#{ticketController.ticket.id == null}"
												value="#{ticketController.numberOfItems}"
												inputStyleClass="form-control" decimalPlaces="0"
												emptyValue="1" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="refund" styleClass="control-label"
												value="#{app.refund}:" />
										</div>
										<div class="col-md-2">
											<p:selectBooleanCheckbox id="refund" styleClass="margin-half"
												value="#{ticketController.ticketRefund}">
												<p:ajax update="cancelationfees" />
											</p:selectBooleanCheckbox>
										</div>
										<div class="col-md-6">
											<h:panelGroup id="cancelationfees">
												<h:panelGroup rendered="#{ticketController.ticketRefund}">
													<p:inputNumber
														value="#{ticketController.ticket.cancelationFees}"
														inputStyleClass="form-control" decimalPlaces="2"
														emptyValue="0" symbol="$" />
												</h:panelGroup>
											</h:panelGroup>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="route" styleClass="control-label"
												value="#{app.route}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="route"
												value="#{ticketController.ticket.route}"
												styleClass="form-control" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="passenger" styleClass="control-label"
												value="#{app.passenger}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="passenger"
												value="#{ticketController.ticket.passenger}"
												styleClass="form-control" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="dateOfFlight" styleClass="control-label"
												value="#{app.date_of_flight}:" />
										</div>
										<div class="col-md-8">
											<p:calendar id="dateOfFlight" pattern="dd-MM-yyyy"
												value="#{ticketController.ticket.dateOfFlight}"
												showButtonPanel="true" navigator="true"
												inputStyleClass="form-control" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="fair" styleClass="control-label"
												value="#{app.fair}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="fair"
												value="#{ticketController.ticket.fair}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change"
													process="fair tax profit insurance discountPercentage"
													update="selling total discountAmount"
													listener="#{ticketController.updateSellingAndTotal}" />
											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="tax" styleClass="control-label"
												value="#{app.tax}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="tax"
												value="#{ticketController.ticket.tax}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change"
													process="fair tax profit insurance discountPercentage"
													update="selling total discountAmount"
													listener="#{ticketController.updateSellingAndTotal}" />
											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="insurance" styleClass="control-label"
												value="#{app.insurance}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="insurance"
												value="#{ticketController.ticket.insurance}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change"
													process="fair tax profit insurance discountPercentage"
													update="selling total discountAmount"
													listener="#{ticketController.updateSellingAndTotal}" />
											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="profit" styleClass="control-label"
												value="#{app.profit}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="profit"
												value="#{ticketController.ticket.profit}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change"
													process="fair tax profit insurance discountPercentage"
													update="selling total discountAmount"
													listener="#{ticketController.updateSellingAndTotal}" />
											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel styleClass="control-label"
												value="#{app.discount}:" />
										</div>
										<div class="col-md-4">
											<p:inputNumber id="discountPercentage"
												value="#{ticketController.ticket.discountPercentage}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="%">
												<p:ajax event="change"
													process="fair tax profit insurance discountPercentage"
													update="selling total discountAmount"
													listener="#{ticketController.updateSellingAndTotal}" />
											</p:inputNumber>
										</div>
										<div class="col-md-4">
											<p:inputNumber id="discountAmount"
												value="#{ticketController.ticket.discountAmount}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change" process="selling discountAmount"
													update="total discountPercentage"
													listener="#{ticketController.updateFromDiscountAmount}" />
											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="selling" styleClass="control-label"
												value="#{app.selling}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="selling" disabled="true"
												value="#{ticketController.ticket.selling}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="total" styleClass="control-label"
												value="#{app.total}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="total" disabled="true"
												value="#{ticketController.ticket.total}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="notes" styleClass="control-label"
												value="#{app.notes}:" />
										</div>
										<div class="col-md-8">
											<h:inputTextarea id="notes" styleClass="form-control"
												value="#{ticketController.ticket.notes}" />
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


		</o:massAttribute>

		<!-- Note modal -->

	</ui:define>


	<ui:define name="contentFooter">
		<o:massAttribute name="disabled" value="#{!ticketController.canEdit}">
			<p:commandLink action="#{ticketController.printItem()}"
				styleClass="btn btn-info btn-sm margin-left-one" ajax="false">
				<h:outputText styleClass="white" value="Print" />
			</p:commandLink>
			<h:commandLink styleClass="btn btn-success btn-sm pull-left"
				id="SaveFormId" action="#{ticketController.save()}">
				<h:outputText styleClass="white" value="#{app.save}" />
				<f:ajax execute="@form" render="growl" />
			</h:commandLink>
		</o:massAttribute>
	</ui:define>



</ui:decorate>
</html>
