<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:gen-key="http://general.com/generalkey"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<!-- INTERFACE -->
<composite:interface componentType="com.general.component.GeneralKeyComponent">
	<composite:attribute name="type" required="true" />
	<composite:attribute name="value" />
	<composite:attribute name="dropdown" default="true" />
	<composite:attribute name="update" default="" />
	<composite:attribute name="size" default="" />
	<composite:attribute name="readonly" default="false" />
	<composite:attribute name="required" default="false" />
	<composite:attribute name="requiredMessage" default="" />
	<composite:attribute name="onchange" event="onchange" targets="id-gen-key" />
	<composite:attribute name="selectItemListener" method-signature="void selectItemListener(org.primefaces.event.SelectEvent)"/>
	<composite:attribute name="styleClass" default="lookup" />
	<composite:attribute name="inputStyleClass" default="" />
	<composite:attribute name="multiple" default="false" />
	<composite:attribute name="filterdValues" default="" />
	<composite:attribute name="disabled" default="false" />
	
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>
	<p:autoComplete id="id-gen-key" styleClass="#{cc.attrs.styleClass}" inputStyleClass="#{cc.attrs.inputStyleClass}"
		dropdown="#{cc.attrs.dropdown and not cc.attrs.readonly}" multiple="#{cc.attrs.multiple}"
		minQueryLength="1" required="#{cc.attrs.required}" requiredMessage="#{cc.attrs.requiredMessage}"
		queryDelay="500" completeMethod="#{cc.completeList}" 
		readonly="#{cc.attrs.readonly}" value="#{cc.attrs.multiple?cc.selectedKeys:cc.selectedKey}" var="sk"
		itemLabel="#{view.locale == 'ar' ? sk.descriptionAr : sk.descriptionEn}" itemValue="#{sk}"
		forceSelection="true" size="#{cc.attrs.size}"  disabled="#{cc.attrs.disabled}">
		<gen-key:generalkeyConverter type="#{cc.attrs.type}" />

		<c:if test="#{cc.NeedAjaxMsg()}">
			<p:ajax event="itemSelect" listener="#{cc.selectItemListener}"
				update="#{cc.attrs.update}" />
		</c:if>
	</p:autoComplete>
</composite:implementation>

</html>