<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<p:textEditor value="#{textValue}" maxlength="#{customMaxlength}"
		rendered="#{customRendered == null ? true : customRendered}"
		styleClass="#{customStyleClass}" id="#{customId}" 
		height="#{customHeight == null ? min : customHeight}"
		readonly="#{customReadOnly}" toolbarVisible="#{!customReadOnly}">


		<f:facet name="toolbar">
			<h:panelGroup styleClass="ql-formats" rendered="#{!customReadOnly}">
				<select class="ql-font"></select>
				<select class="ql-size"></select>
			</h:panelGroup>
			<h:panelGroup styleClass="ql-formats" rendered="#{!customReadOnly}">
				<button class="ql-bold"></button>
				<button class="ql-italic"></button>
				<button class="ql-underline"></button>
				<button class="ql-strike"></button>
			</h:panelGroup>
			<h:panelGroup styleClass="ql-formats" rendered="#{!customReadOnly}">
				<select class="ql-align"></select>
			</h:panelGroup>
			<h:panelGroup styleClass="ql-formats" rendered="#{!customReadOnly}">
				<select class="ql-color"></select>
				<select class="ql-background"></select>
			</h:panelGroup>
		</f:facet>

	</p:textEditor>
</ui:composition>
