<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<f:facet name="filter">
		<p:selectOneMenu onchange="PF('#{tablewidgetVar}').filter()">
			<f:selectItem itemValue="" />
			<f:selectItems
				value="#{generalKeyFilterController.getGeneralKey(keyvalue)}"
				itemValue="#{genkey.id}"
				itemLabel="#{genkey.descriptionEn}"
				var="genkey" />
		</p:selectOneMenu>
	</f:facet>



</ui:composition>
