<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<h:head></h:head>

<ui:decorate template="/template/masterTemplate.xhtml">


	<ui:param name="maintitle" value="Administration"></ui:param>
	<ui:param name="pageSubTitle" value="Administration"></ui:param>

	<ui:define name="moreCss">
	</ui:define>

	<ui:define name="contentInForm">



	</ui:define>

</ui:decorate>
</html>
