<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:param name="maintitle" value="#{app.accounting_tree}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.accounting_tree}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.accounting_tree}</strong>
		</li>
	</ui:define>


	<ui:define name="moreCss">
		<h:outputStylesheet name="css/pages/account-tree.css" />
	</ui:define>


	<ui:define name="contentInForm">

		<p:dataTable value="#{accountTreeController.allAccountTrees}"
			var="item" id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" paginator="false" widgetVar="itemVar"
			rowKey="#{item.id}">

			<f:facet name="header">
				<h:outputText styleClass="headerText" value="#{app.accounting_tree}" />
				<h:commandLink styleClass="btn btn-sm btn-primary headerButton"
					action="#{accountTreeController.addNewAccountTree()}">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column width="5%" style="text-align: center">
				<p:commandLink styleClass="" title="#{app.delete}" process="@this"
					actionListener="#{accountTreeController.deleteAccountTree(item)}"
					update="itemsDataTable">
					<i class="fa fa-trash alert-danger no-background"></i>
					<p:confirm header="#{app.confirmation}"
						message="#{app.msg_are_you_sure_to_delete}" icon="ui-icon-alert" />
				</p:commandLink>
			</p:column>

			<p:column id="code" style="width:25%" filterBy="#{item.code}"
				filterMatchMode="contains" sortBy="#{item.code}">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()" placeholder="Code" />
				</f:facet>
				<h:inputText id="acCode"
					styleClass="form-control #{component.valid ? '' : 'border-red'}"
					value="#{item.code}" required="true"
					requiredMessage="Code is Empty" />
			</p:column>

			<p:column style="width:35%" filterBy="#{item.englishName}"
				filterMatchMode="contains" sortBy="#{item.englishName}">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="English Name" />
				</f:facet>
				<h:inputText styleClass="form-control" value="#{item.englishName}" />
			</p:column>

			<p:column style="width:35%" filterBy="#{item.arabicName}"
				filterMatchMode="contains" sortBy="#{item.arabicName}">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="Arabic Name" />
				</f:facet>
				<h:inputText styleClass="form-control" value="#{item.arabicName}" />
			</p:column>

		</p:dataTable>

		<p:confirmDialog global="true">
			<p:commandButton value="#{app.yes}" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="#{app.no}" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
	</ui:define>

	<ui:define name="contentFooter">
		<o:massAttribute name="disabled"
			value="#{!accountTreeController.canEdit}">
			<h:commandLink styleClass="btn btn-success btn-sm pull-left"
				id="SaveFormId" action="#{accountTreeController.save()}">
				<h:outputText styleClass="white" value="#{app.save}" />
				<f:ajax execute="@form" render="itemsDataTable growl" />
			</h:commandLink>
		</o:massAttribute>
	</ui:define>


</ui:decorate>
</html>
