<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<ui:decorate template="/template/masterTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView"
			listener="#{accountConfigurationController.preRenderView()}" />
	</f:metadata>


	<ui:param name="maintitle" value="#{app.account_configuration}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.account_configuration}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.account_configuration}</strong>
		</li>
	</ui:define>


	<ui:define name="moreCss">
		<h:outputStylesheet name="css/pages/account-configuration.css" />
	</ui:define>


	<ui:define name="contentInForm">

		<p:dataTable
			value="#{accountConfigurationController.allAccountConfigurations}"
			var="item" id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" paginator="true" paginatorPosition="bottom"
			paginatorAlwaysVisible="false" rowsPerPageTemplate="10,20,50,100"
			rows="10" widgetVar="itemVar">

			<f:facet name="header">
				<h:outputText styleClass="headerText"
					value="#{app.account_configuration}" />
			</f:facet>

			<p:column headerText="#{app.the_account}">
				<h:inputText value="#{item.accountType}" styleClass="form-control"
					readonly="true" />
			</p:column>

			<p:column headerText="#{app.account_type}">
				<p:selectOneMenu autoWidth="true" filterMatchMode="contains"
					filter="true" value="#{item.accountTree}"
					converter="#{accountTreeConverter}">
					<f:selectItem />
					<f:selectItems
						value="#{accountConfigurationController.allAccountTrees}"
						var="accountTree" itemLabel="#{accountTree.displayName}"
						itemValue="#{accountTree}" />
				</p:selectOneMenu>
			</p:column>
		</p:dataTable>

	</ui:define>

	<ui:define name="contentFooter">
		<o:massAttribute name="disabled"
			value="#{!accountConfigurationController.canEdit}">
			<h:commandLink styleClass="btn btn-success btn-sm pull-left"
				id="SaveFormId" action="#{accountConfigurationController.save()}">
				<h:outputText styleClass="white" value="#{app.save}" />
				<f:ajax execute="@form" render="growl" />
			</h:commandLink>
		</o:massAttribute>
	</ui:define>


</ui:decorate>
</html>
