<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<ui:decorate template="/template/masterTemplate.xhtml">


	<ui:param name="maintitle" value="#{app.company_configuration}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.company_configuration}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.company_configuration}</strong></li>
	</ui:define>


	<ui:define name="contentInForm">

		<p:dataTable
			value="#{companyConfigurationController.allCompanyConfiguration}"
			var="item" id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" paginator="false" widgetVar="itemVar"
			rowKey="#{item.id}">

			<f:facet name="header">
				<h:outputText styleClass="headerText"
					value="#{app.company_configuration}" />
			</f:facet>

			<p:column headerText="Type">
				<h:inputText value="#{item.key.value}" styleClass="form-control"
					readonly="true" />
			</p:column>

			<p:column headerText="Value">
				<h:inputText value="#{item.value}" styleClass="form-control" />
			</p:column>
		</p:dataTable>

	</ui:define>

	<ui:define name="contentFooter">
		<h:commandLink styleClass="btn btn-success btn-sm pull-left"
			id="SaveFormId" action="#{companyConfigurationController.save()}">
			<h:outputText styleClass="white" value="#{app.save}" />
			<f:ajax execute="@form" render="growl" />
		</h:commandLink>
	</ui:define>


</ui:decorate>
</html>
