<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<ui:decorate template="/template/masterTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView"
			listener="#{currencyConfigurationController.preRenderView()}" />
	</f:metadata>

	<ui:param name="maintitle" value="#{app.currency_configuration}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.currency_configuration}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.currency_configuration}</strong>
		</li>
	</ui:define>


	<ui:define name="moreCss">
		<h:outputStylesheet name="css/pages/currency-configuration.css" />
	</ui:define>


	<ui:define name="contentInForm">

		<p:dataTable
			value="#{currencyConfigurationController.currencyArchives}"
			var="item" id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" paginator="true" paginatorPosition="bottom"
			paginatorAlwaysVisible="false" rowsPerPageTemplate="10,20,50,100"
			rows="10" widgetVar="itemVar">

			<p:column sortBy="#{item.date}" width="200" headerText="#{app.date}">
				<h:inputText value="#{item.date}" styleClass="form-control"
					readonly="true">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:inputText>

			</p:column>

			<p:column sortBy="#{item.liraPerDolar}" width="200"
				headerText="#{app.accounts}">
				<p:inputNumber value="#{item.liraPerDolar}"
					readonly="#{currencyConfigurationController.canEditCurrency(item.date)}"
					inputStyleClass="form-control #{!component.valid ? 'border-red' : ''}"
					decimalPlaces="0" symbol="LBP" symbolPosition="suffix"
					required="true" requiredMessage="#{app.lira_per_dolar_requried}" />
			</p:column>

		</p:dataTable>

	</ui:define>

	<ui:define name="contentFooter">
		<h:commandLink styleClass="btn btn-success btn-sm pull-left"
			id="SaveFormId" action="#{currencyConfigurationController.save()}">
			<h:outputText styleClass="white" value="#{app.save}" />
			<f:ajax execute="@form" render="growl itemsDataTable" />
		</h:commandLink>
	</ui:define>


</ui:decorate>
</html>
