<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<ui:decorate template="/template/masterTemplate.xhtml">

	<f:metadata>
		<f:event type="preRenderView"
			listener="#{salesPurchaseController.preRenderView()}" />
	</f:metadata>


	<ui:param name="maintitle" value="#{app.sales_purchase_configuration}"></ui:param>
	<ui:param name="pageSubTitle"
		value="#{app.sales_purchase_configuration}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.sales_purchase_configuration}</strong>
		</li>
	</ui:define>


	<ui:define name="moreCss">
		<h:outputStylesheet name="css/pages/sales-purchase.css" />
	</ui:define>


	<ui:define name="contentInForm">

		<p:dataTable value="#{salesPurchaseController.allSalesPurchase}"
			var="item" id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" widgetVar="itemVar">

			<f:facet name="header">
				<h:outputText styleClass="headerText"
					value="#{app.sales_purchase_configuration}" />
			</f:facet>

			<p:column sortBy="#{item.typeDisplayName()}" width="200"
				headerText="#{app.types}">
				<h:inputText value="#{item.typeDisplayName()}"
					styleClass="form-control" readonly="true" />
			</p:column>

			<p:column sortBy="#{item.account.displayName()}" width="200"
				headerText="#{app.accounts}">
				<p:selectOneMenu autoWidth="true" filterMatchMode="contains"
					filter="true" value="#{item.account}"
					converter="#{accountConverter}">
					<f:selectItem />
					<f:selectItems value="#{salesPurchaseController.allAccounts}"
						var="ac" itemLabel="#{ac.displayName()}" itemValue="#{ac}" />
				</p:selectOneMenu>
			</p:column>

		</p:dataTable>

	</ui:define>

	<ui:define name="contentFooter">
		<h:commandLink styleClass="btn btn-success btn-sm pull-left"
			id="SaveFormId" action="#{salesPurchaseController.save()}">
			<h:outputText styleClass="white" value="#{app.save}" />
			<f:ajax execute="@form" render="growl" />
		</h:commandLink>
	</ui:define>


</ui:decorate>
</html>
