<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<h:head>
	<h:outputStylesheet library="css/pages" name="food-card.css" />
</h:head>


<ui:decorate template="/template/masterTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{foodController.id}' />
		<f:event type="preRenderView"
			listener="#{foodController.preRenderView()}" />
	</f:metadata>

	<ui:param name="maintitle" value="#{app.food}"></ui:param>

	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item"><h:link outcome="food-list">#{app.foods}</h:link></li>
		<li class="breadcrumb-item active"><strong>
				#{foodController.food.displayName()}</strong></li>
	</ui:define>


	<ui:define name="contentInForm">
		<o:massAttribute name="disabled" value="#{!foodController.canEdit}">

			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<i class="icon fa fa-user-o icon-panel"
							style="float: left; margin-right: 8px;"></i>
						<h5>#{app.food}</h5>
						<div class="ibox-tools">
							<a class="collapse-link" data-toggle="collapse"
								data-target="#main-info" aria-expanded="true"> <i
								class="fa fa-chevron-up icon-panel"></i> <i
								class="fa fa-chevron-down icon-panel"></i>
							</a>
							<div class="tools-item"></div>
						</div>
						<!-- ibox-tools -->
					</div>
					<!-- / ibox-title -->
					<div class="ibox-content collapse show" id="main-info"
						aria-expanded="true" style="">

						<div class="widgets-container">
							<div class="form-group">
								<div class="col-md-6">
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="date" styleClass="control-label"
												value="#{app.date}:" />
										</div>
										<div class="col-md-8">
											<p:calendar id="date" pattern="dd-MM-yyyy"
												value="#{foodController.food.date}" showButtonPanel="true"
												navigator="true" inputStyleClass="form-control" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="from" styleClass="control-label"
												value="#{app.customer_name}:" />
										</div>
										<div class="col-md-8">
											<p:selectOneMenu id="from"
												value="#{foodController.food.from}"
												filterMatchMode="contains" filter="true"
												converter="#{customerConverter}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{foodController.allCustomers}"
													var="customer" itemLabel="#{customer.displayName()}"
													itemValue="#{customer}" />
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="to" styleClass="control-label"
												value="#{app.supplier_name}:" />
										</div>
										<div class="col-md-8">
											<p:selectOneMenu id="to" value="#{foodController.food.to}"
												filterMatchMode="contains" filter="true"
												converter="#{supplierConverter}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems value="#{foodController.allSuppliers}"
													var="supplier" itemLabel="#{supplier.displayName()}"
													itemValue="#{supplier}" />
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="description" styleClass="control-label"
												value="#{app.entry_description}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="description"
												value="#{foodController.food.description}"
												styleClass="form-control" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="salesMan" styleClass="control-label"
												value="#{app.sales_man}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="salesMan"
												value="#{foodController.food.salesMan}"
												styleClass="form-control" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="cost" styleClass="control-label"
												value="#{app.cost}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="cost" value="#{foodController.food.cost}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change"
													process="tax cost profit quantity discountPercentage"
													update="selling total discountAmount"
													listener="#{foodController.updateSellingAndTotal}" />

											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="profit" styleClass="control-label"
												value="#{app.profit}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="profit"
												value="#{foodController.food.profit}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change"
													process="tax cost profit quantity discountPercentage"
													update="selling total discountAmount"
													listener="#{foodController.updateSellingAndTotal}" />

											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="tax" styleClass="control-label"
												value="#{app.tax}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="tax" value="#{foodController.food.tax}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change"
													process="tax cost profit quantity discountPercentage"
													update="selling total discountAmount"
													listener="#{foodController.updateSellingAndTotal}" />
											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="quantity" styleClass="control-label"
												value="#{app.quantity}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="quantity"
												value="#{foodController.food.quantity}"
												inputStyleClass="form-control" decimalPlaces="0"
												emptyValue="1">
												<p:ajax event="change"
													process="tax cost profit quantity discountPercentage"
													update="selling total discountAmount"
													listener="#{foodController.updateSellingAndTotal}" />
											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel styleClass="control-label"
												value="#{app.discount}:" />
										</div>
										<div class="col-md-4">
											<p:inputNumber id="discountPercentage"
												value="#{foodController.food.discountPercentage}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="%">
												<p:ajax event="change"
													process="tax cost profit quantity discountPercentage"
													update="selling total discountAmount"
													listener="#{foodController.updateSellingAndTotal}" />
											</p:inputNumber>
										</div>
										<div class="col-md-4">
											<p:inputNumber id="discountAmount"
												value="#{foodController.food.discountAmount}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$">
												<p:ajax event="change" process="selling discountAmount"
													update="total discountPercentage"
													listener="#{foodController.updateFromDiscountAmount}" />
											</p:inputNumber>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="selling" styleClass="control-label"
												value="#{app.selling}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="selling" disabled="true"
												value="#{foodController.food.selling}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="total" styleClass="control-label"
												value="#{app.total}:" />
										</div>
										<div class="col-md-8">
											<p:inputNumber id="total" disabled="true"
												value="#{foodController.food.total}"
												inputStyleClass="form-control" decimalPlaces="2"
												emptyValue="0" symbol="$" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="notes" styleClass="control-label"
												value="#{app.notes}:" />
										</div>
										<div class="col-md-8">
											<h:inputTextarea id="notes" styleClass="form-control"
												value="#{foodController.food.notes}" />
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


		</o:massAttribute>

		<!-- Note modal -->

	</ui:define>


	<ui:define name="contentFooter">
		<o:massAttribute name="disabled" value="#{!foodController.canEdit}">
			<p:commandLink action="#{foodController.printItem()}"
				styleClass="btn btn-info btn-sm margin-left-one" ajax="false">
				<h:outputText styleClass="white" value="Print" />
			</p:commandLink>
			<h:commandLink styleClass="btn btn-success btn-sm pull-left"
				id="SaveFormId" action="#{foodController.save()}">
				<h:outputText styleClass="white" value="#{app.save}" />
				<f:ajax execute="@form" render="growl" />
			</h:commandLink>
		</o:massAttribute>
	</ui:define>



</ui:decorate>
</html>
