<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:hf="http://highfaces.org">

<h:head></h:head>

<ui:decorate template="/template/masterTemplate.xhtml">

	<ui:define name="moreCss">
		<h:outputStylesheet name="css/pages/index.css" />
	</ui:define>

	<ui:define name="contentInForm">

		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<div class="col-md-4 pull-right">
						<h:outputLabel value="#{app.from_date}" styleClass="control-label" />
					</div>
					<div class="col-md-8 pull-left">
						<p:calendar id="fromDate" pattern="dd-MM-yyyy"
							value="#{dashboardController.fromDate}" showButtonPanel="true"
							navigator="true" inputStyleClass="form-control" />
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<div class="col-md-4 pull-right">
						<h:outputLabel value="#{app.to_date}" styleClass="control-label" />
					</div>
					<div class="col-md-8 pull-left">
						<p:calendar id="toDate" pattern="dd-MM-yyyy"
							value="#{dashboardController.toDate}" showButtonPanel="true"
							navigator="true" inputStyleClass="form-control" />
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="margin-top-half">
					<p:selectOneButton id="currency"
						value="#{dashboardController.currency}">
						<f:selectItem itemLabel="DOLAR" itemValue="DOLAR" />
						<f:selectItem itemLabel="LIRA" itemValue="LIRA" />
					</p:selectOneButton>
				</div>
			</div>
			<div class="col-md-1">
				<h:commandLink action="#{dashboardController.search()}"
					styleClass="btn btn-success">
					<h:outputText value="#{app.search}" />
					<f:ajax execute="fromDate toDate currency" render="itemsDataTable" />
				</h:commandLink>
			</div>
		</div>

		<div class="row margin-top-three">
			<div class="col-md-4">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i
						class="fa fa-money white"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Total Incomes</span> <span
							class="info-box-number">$0.00</span>
						<div class="progress-group">
							<div class="progress sm">
								<div class="progress-bar progress-bar-aqua" style="width: 100%"></div>
							</div>
							<span class="progress-text">Receivables</span> <span
								class="progress-number">$0.00 / $0.00</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i
						class="fa fa-shopping-cart white"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Total Expenses</span> <span
							class="info-box-number">$0.00</span>

						<div class="progress-group"
							title="Open Bills: $0.00 Overdue Bills: $0.00">
							<div class="progress sm">
								<div class="progress-bar progress-bar-red" style="width: 100%"></div>
							</div>
							<span class="progress-text">Payables</span> <span
								class="progress-number">$0.00 / $0.00</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="info-box">
					<span class="info-box-icon bg-green"><i
						class="fa fa-heart white"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Total Profit</span> <span
							class="info-box-number">$0.00</span>

						<div class="progress-group" title="">
							<div class="progress sm">
								<div class="progress-bar progress-bar-green" style="width: 100%"></div>
							</div>
							<span class="progress-text">Upcoming</span> <span
								class="progress-number">$0.00 / $0.00</span>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<hf:chart type="line" title="Journals And Profits"
					xaxisLabel="Month" yaxisLabel="Amount">
					
					<hf:chartSerie name="Journals" value="# {lineChartBean.boys}"
						var="point" point="# {point.amount}" tickLabel="# {point.year}" />
						
					<hf:chartSerie name="Profits" value="# {lineChartBean.girls}"
						var="point" point="# {point.amount}" />
						
				</hf:chart>
			</div>
		</div>

	</ui:define>

</ui:decorate>
</html>
