.ui-datatable .ui-widget-content a.btn {
	color: #FFF !important;
}

.ui-widget-header {
	border: none !important;
}

label.error {
	color: #c66;
}

.ui-datatable tbody td label {
	margin-bottom: 0;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 28px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	width: 100%;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
	width: 100% !important;
}

span.lookup.ui-autocomplete {
	display: grid;
}

.ui-autocomplete.ui-autocomplete-multiple, .ui-autocomplete.ui-autocomplete-multiple ul
	{
	width: 100%;
}

.lookup .ui-widget.input-sm {
	font-size: 13px !important;
	padding: 5px 10px;
}

.form-control-checkbox {
	margin-top: 31px;
}

.form-control-checkbox .control-label {
	padding-left: 6px;
}

.ui-selectbooleancheckbox.ui-chkbox.ui-widget .ui-chkbox-box {
	width: 22px;
	height: 22px;
}

.ui-selectbooleancheckbox.ui-chkbox.ui-widget .ui-icon-check {
	background-position: -62px -143px;
}

.form-control-calendar {
	padding: 0;
	border: none;
}

.form-control-calendar input {
	width: 100%;
	height: 100%;
	font-size: 12px !important;
}

.icon-panel {
	font-size: 22px !important;
}

.no-background {
	background: none;
}

.wheat-bg {
	background-color: wheat !important;
}

label.required::after, th.required .ui-column-title::after {
	content: "*";
	color: red;
	margin: 0px 5px 0 5px;
}

.delete-att, .change-att {
	position: absolute;
	left: 0;
	margin: 5px;
	color: white !important;
}

.input-form-control-spinner, .input-form-control-spinner .ui-spinner-input
	{
	width: 100%;
	height: 100%;
	font-size: 12px !important;
	text-align: left;
}

a.card-link {
	color: #00bcd4 !important;
	text-decoration: none !important;
}

a.card-link label {
	cursor: pointer;
}

.hide-button .ui-autocomplete-dropdown {
	display: none;
}

.page-broadcast .page-logo {
	margin-left: 10px;
}

.page-broadcast .page-content, .page-broadcast .footer {
	margin-left: 0 !important;
}

.ui-column-customfilter .ui-selectonemenu {
	width: 100%;
}

.form-control.ui-selectonemenu {
	display: grid;
	height: 30px !important;
	font-size: 13px;
	line-height: 0.5;
}

.green {
	color: green;
}

.red {
	color: red;
}

.show-text-empty:empty:before {
	content: "--none---";
	color: lightgrey;
}

.page-logo {
	width: 240px !important;
}

.page-logo .main-logo {
	width: 42px;
	height: 42px;
	margin-top: -10px !important;
	margin-left: 6px !important;
}

.page-sidebar-closed .page-logo {
	display: none !important;
}

.center-text {
	text-align: center;
}