a.nav-link {
	font-size: 18px !important;
}

div.ui-column-customfilter input {
	width: 80% !important;
}

.ui-sortable-column-icon {
	float: left !important;
	top: 10px !important;
	position: relative !important;
}

.control-label {
	margin: 5px !important;
	font-size: large !important;
}

[role="columnheader"] {
	font-size: 15px !important;
}