.project-name {
	font-size: x-large;
	color: white;
	position: relative;
	top: 10px;
	right: 30px;
}

.main-logo {
	position: relative;
	top: 15px;
	right: 100px;
}

.page-header.navbar .top-menu .navbar-nav>li>.dropdown-menu {
	right: auto !important;
	left: 0px !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a
	{
	float: right;
	text-align: right;
}

.page-header.navbar .page-logo {
	display: block;
	float: right;
	height: 56px;
	transition: all 0.4s ease 0s;
	width: 220px;
}

.page-header.navbar .page-logo>.logo-image, .page-header.navbar .page-logo>a
	{
	display: inline-block;
	float: right;
	height: 56px;
	transition: all 0.4s ease 0s;
	width: 100%;
	padding-left: 15px;
}

.page-header.navbar .sidebar-close-logo {
	display: none;
	float: right;
	height: 56px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 45px;
}

.library-menu {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 20px;
	float: right;
}

.page-header.navbar .hor-menu {
	float: right;
	margin: 0;
}

.page-header.navbar .top-menu .navbar-nav {
	display: block;
	margin-left: 20px;
	padding: 0;
}

.page-content-wrapper .page-content {
	margin-left: 0px;
	margin-right: 220px;
}

.nav {
	padding-right: 0px;
}

.page-sidebar {
	margin-left: 100%;
	margin-right: 0px;
}

.page-sidebar .sub-menu::before, .page-sidebar .sub-menu li::before {
	right: 24px;
	left: unset;
}

.breadcrumb-item {
	float: right;
}

.ibox-title h5, .ibox-title .icon-panel {
	float: right !important;
}

.ibox-tools {
	float: left;
}

.ibox-tools a {
	margin-left: 0px;
	margin-right: 5px;
}

.page-footer-fixed .footer {
	margin-right: 222px;
	margin-left: 0px;
	z-index: 999;
}

.ibox-title h5 {
	margin: 0 7px 7px;
	font-size: 20px;
}

.scrollup i {
	right: 16px !important;
	left: 0px !important;
}

.ui-inputgroup input {
	border-right: 1px solid #d6d6d6 !important;
	border-left: 0px !important;
}

.ui-inputgroup input:focus {
	border-right-color: #1F4509 !important;
}

.form-control {
	display: block !important;
	width: 100% !important;
	padding: .5rem .75rem !important;
	font-size: 1rem !important;
	line-height: 1.25 !important;
}

.ui-selectonemenu {
	min-width: 100px !important;
}

.ui-icon-seek-first {
	background-position: -64px -160px !important;
}

.ui-icon-seek-prev {
	background-position: -32px -160px !important;
}

.ui-icon-seek-next {
	background-position: -48px -160px !important;
}

.ui-icon-seek-end {
	background-position: -80px -160px !important;
}

.statusDialog {
	top: 80px !important;
	display: none;
	position: fixed;
	text-align: center;
	right: 50%;
	left: 50%;
	width: 50px;
}

.ui-column-customfilter {
	width: 80%;
}

.ui-selectbooleancheckbox.ui-chkbox.ui-widget .ui-icon-check {
	background-position: -66px -143px !important;
}