.ui-selectonemenu {
	width: 100% !important;
	margin-top: 2px !important;
}

.ui-selectonemenu-item {
	text-align: right !important;
}

.ui-selectonemenu label.ui-selectonemenu-label {
	text-align: right !important;
}