<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	dir="#{masterController.rtl ? 'rtl' : 'ltr'}">

<f:view locale="#{masterController.locale}">

	<h:head>
		<title>#{app.program_name} #{pageSubTitle eq null ? '' : ' |
			'.concat(pageSubTitle)}</title>
		<meta charset="utf-8" />

		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap -->
		<h:outputStylesheet name="assets/css/bootstrap.min.css" />
		<!-- slimscroll -->
		<h:outputStylesheet name="assets/css/jquery.slimscroll.css" />
		<!-- Fontes -->
		<h:outputStylesheet name="assets/css/font-awesome.min.css" />
		<h:outputStylesheet name="assets/css/glyphicons.css" />
		<h:outputStylesheet name="assets/css/simple-line-icons.css" />
		<h:outputStylesheet name="assets/css/ameffectsanimation.css" />
		<!-- 		<h:outputStylesheet name="assets/css/buttons.css" /> -->
		<h:outputStylesheet library="css" name="main.css" />
		<!-- animate css -->
		<h:outputStylesheet name="assets/css/animate.css" />
		<!-- The Wolf main css -->
		<h:outputStylesheet name="assets/css/main.css" />
		<!-- fullcalendar -->
		<h:outputStylesheet name="assets/css/fullcalendar.css" />
		<h:outputStylesheet name="assets/css/theme.css" />
		<!-- media css for responsive  -->
		<h:outputStylesheet name="assets/css/main.media.css" />

		<!-- demo  -->
		<h:outputStylesheet name="assets/css/appdemo.css" />

		<h:outputStylesheet name="assets/css/jquery.toast.min.css" />
		<h:outputStylesheet name="assets/css/select2.min.css" />

		<h:outputStylesheet name="helper.css" library="css" />
		<h:outputStylesheet name="override.css" library="css" />
		<h:outputStylesheet name="selectOneMenu.css" library="css" />
		<h:outputStylesheet name="datatable-rtl.css" library="css" />

		<h:panelGroup rendered="#{masterController.rtl}">
			<h:outputStylesheet name="override-rtl.css" library="css" />
		</h:panelGroup>

		<f:facet name="first">
			<h:outputScript library="primefaces" name="jquery/jquery.js" />
		</f:facet>

		<ui:insert name="moreCss" />

	</h:head>
	<h:body
		styleClass="page-header-fixed page-sidebar-menu-border page-sidebar-fixed page-footer-fixed page-footer-fixed">
		<div class="page-header navbar aqua-bg fixed-top">
			<!-- BEGIN HEADER INNER -->
			<div class="page-header-inner ">
				<!-- BEGIN LOGO -->
				<div class="page-logo">
					<h:link outcome="home">
						<span class="project-name">A2Z-TICKETING</span>
						<!-- <p:graphicImage library="assets/images" name="logo.png"
							styleClass="logo-default" alt="logo" /> -->
					</h:link>
				</div>
				<div class="sidebar-close-logo">
					<a href="index.html"> <p:graphicImage styleClass="logo-default"
							alt="logo" name="assets/images/Ticketing.gif" />
					</a>
				</div>
				<!-- END LOGO -->
				<div class="library-menu">
					<span class="one">-</span> <span class="two">-</span> <span
						class="three">-</span>
				</div>
				<a class="mobile-sub-link hidden-md-up"><i
					class="fa fa-ellipsis-v"></i></a>
				<!-- BEGIN TOP NAVIGATION MENU -->
				<div class="top-menu">
					<div class="hor-menu hidden-sm-down">
						<ul class="nav">
							<li class="nav-item"><a onclick="toggleFullScreen()"
								href="javascript:;" class="nav-link fullscreen"><span
									class="glyphicon glyphicon-fullscreen"> </span></a></li>
						</ul>
					</div>



					<ul
						class="nav navbar-nav #{masterController.rtl ? 'pull-left' : 'pull-right'} hidden-sm-down">

						<li class="dropdown"><a href="#" data-toggle="dropdown"
							class="dropdown-toggle count-info"> <i class="fa fa-bell"></i>
								<span class="badge badge-danger"></span>
						</a>
							<ul class="dropdown-menu dropdown-alerts menuBig">
								<li>
									<div class="text-center link-block">
										<h:link>
											<strong>Tickets</strong>
											<i class="fa fa-angle-right"></i>
										</h:link>
									</div>
								</li>
							</ul></li>
						<!-- START USER LOGIN DROPDOWN -->
						<li class="dropdown dropdown-user"><a
							data-close-others="true" data-hover="dropdown"
							data-toggle="dropdown" class="dropdown-toggle"
							href="javascript:;"> <p:graphicImage
									name="assets/images/user.jpg" styleClass="rounded-circle"
									alt="" /> <span class="username username-hide-on-mobile">
									#{masterController.currentUser}</span> <i class="fa fa-angle-down"></i>
						</a>
							<ul class="dropdown-menu dropdown-menu-default">
								<li><a href="profile.html"> <i class="icon-user"></i>
										My Profile
								</a></li>
								<li><a href="lockscreen.html"> <i class="icon-lock"></i>
										Lock Screen
								</a></li>
								<li><a href="login.html"> <i class="icon-key"></i> Log
										Out
								</a></li>
							</ul></li>
						<!-- END USER LOGIN DROPDOWN -->
					</ul>
				</div>
				<!-- END TOP NAVIGATION MENU -->
			</div>
			<!-- END HEADER INNER -->
		</div>
		<div class="clearfix"></div>

		<div class="page-container">
			<!-- Start page sidebar wrapper -->
			<div class="page-sidebar-wrapper">
				<div class="page-sidebar sidebar-light">
					<ul class="page-sidebar-menu  page-header-fixed ">

						<li class="nav-item"><a class="nav-link nav-toggle"
							href="javascript:;"> <i class="fa fa-th-large"></i> <span
								class="title">#{app.accounts}</span> <span class="arrow"></span>
						</a>
							<ul class="sub-menu">
								<li class="nav-item"><h:link outcome="customer-list"
										styleClass="nav-link">
										<span class="title">#{app.customers}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="supplier-list"
										styleClass="nav-link">
										<span class="title">#{app.suppliers}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="cash-list"
										styleClass="nav-link">
										<span class="title">#{app.cashes}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="bank-list"
										styleClass="nav-link">
										<span class="title">#{app.banks}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="general-list"
										styleClass="nav-link">
										<span class="title">#{app.general}</span>
									</h:link></li>

							</ul></li>

						<li class="nav-item"><a class="nav-link nav-toggle"
							href="javascript:;"> <i class="fa fa-newspaper-o"></i> <span
								class="title">#{app.items}</span> <span class="arrow"></span>
						</a>
							<ul class="sub-menu">
								<li class="nav-item"><h:link outcome="ticket-list"
										styleClass="nav-link">
										<span class="title">#{app.ticket}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="visa-list"
										styleClass="nav-link">
										<span class="title">#{app.visa}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="hotel-list"
										styleClass="nav-link">
										<span class="title">#{app.hotel}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="food-list"
										styleClass="nav-link">
										<span class="title">#{app.food}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="transportation-list"
										styleClass="nav-link">
										<span class="title">#{app.transportation}</span>
									</h:link></li>
							</ul></li>

						<li class="nav-item"><a class="nav-link nav-toggle"
							href="javascript:;"> <i class="fa fa-newspaper-o"></i> <span
								class="title">#{app.services}</span> <span class="arrow"></span>
						</a>
							<ul class="sub-menu">
								<li class="nav-item"><h:link outcome="voucher-list"
										styleClass="nav-link">
										<span class="title">#{app.voucher_list}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="change-account-id"
										styleClass="nav-link">
										<span class="title">#{app.change_account_id}</span>
									</h:link></li>
							</ul></li>

						<li class="nav-item"><a class="nav-link nav-toggle"
							href="javascript:;"> <i class="fa fa-gear"></i> <span
								class="title">#{app.reports}</span> <span class="arrow"></span></a>
							<ul class="sub-menu">
								<li class="nav-item"><h:link outcome="trial-balance"
										styleClass="nav-link">
										<span class="title">Trial Balance</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="account-report"
										styleClass="nav-link">
										<span class="title">#{app.account_report}</span>
									</h:link></li>
								<li class="nav-item"><h:link
										outcome="customer-general-report" styleClass="nav-link">
										<span class="title">#{app.customer_general_report}</span>
									</h:link></li>
							</ul></li>

						<li class="nav-item"><a class="nav-link nav-toggle"
							href="javascript:;"> <i class="fa fa-gear"></i> <span
								class="title">#{app.configurations}</span> <span class="arrow"></span>
						</a>
							<ul class="sub-menu">
								<li class="nav-item"><h:link outcome="account-tree"
										styleClass="nav-link">
										<span class="title">#{app.accounting_tree}</span>
									</h:link></li>
								<li class="nav-item"><h:link
										outcome="account-configuration" styleClass="nav-link">
										<span class="title">#{app.account_configuration}</span>
									</h:link></li>
								<li class="nav-item"><h:link outcome="sales-purchase"
										styleClass="nav-link">
										<span class="title">#{app.sales_purchase_configuration}</span>
									</h:link></li>
								<li class="nav-item"><h:link
										outcome="currency-configuration" styleClass="nav-link">
										<span class="title">#{app.currency_configuration}</span>
									</h:link></li>
								<li class="nav-item"><h:link
										outcome="company-configuration" styleClass="nav-link">
										<span class="title">#{app.company_configuration}</span>
									</h:link></li>
							</ul></li>
					</ul>
				</div>
			</div>
			<!-- End page sidebar wrapper -->
			<!-- Start page content wrapper -->
			<div class="page-content-wrapper">
				<div class="page-content">

					<div class="wrapper border-bottom page-heading">
						<div class="col-lg-12">
							<h2>#{maintitle}</h2>
							<ol class="breadcrumb">
								<h:panelGroup id="breadcrumb-items-id">
									<ui:insert name="breadcrumb-items" />
								</h:panelGroup>
							</ol>
						</div>
					</div>

					<div class="wrapper-content">
						<h:form prependId="false">
							<ui:insert name="contentInForm"></ui:insert>
							<div class="clearfix"></div>
							<!-- start footer -->
							<div class="footer">
								<div
									class="#{masterController.rtl ? 'pull-left' : 'pull-right'}">
									<ui:insert name="contentFooter" />
								</div>
								<div
									class="#{masterController.rtl ? 'pull-right' : 'pull-left'}">
									<strong>Copyright</strong> a2ztechno &copy; 2019
								</div>
							</div>

							<p:ajaxStatus onstart="$('.statusDialog').show()"
								onsuccess="$('.statusDialog').hide()" />
							<p:graphicImage styleClass="statusDialog"
								name="/images/ajax-loader.gif" />

						</h:form>
						<ui:insert name="contentOutForm"></ui:insert>
					</div>
					<o:highlight styleClass="has-error" />


				</div>
			</div>
		</div>
		<!-- Go top -->
		<a href="#" class="scrollup"><i class="fa fa-chevron-up"></i></a>
		<!-- Go top -->
		<!-- bootstrap js -->
		<h:outputScript name="assets/js/vendor/tether.min.js" />
		<h:outputScript name="assets/js/vendor/bootstrap.min.js" />
		<!-- fullcalendar -->
		<h:outputScript name="assets/js/vendor/lib/moment.min.js" />

		<h:outputScript name="assets/js/vendor/fullcalendar.min.js" />
		<!-- slimscroll js -->
		<h:outputScript name="assets/js/vendor/jquery.slimscroll.js" />
		<!-- pace js -->
		<h:outputScript name="assets/js/vendor/pace/pace.min.js" />
		<!-- demo  -->
		<h:outputScript name="assets/js/appdemo.js" />
		<h:outputScript name="assets/js/vendor/toast/jquery.toast.min.js" />
		<h:outputScript name="assets/js/vendor/select2.min.js" />
		<!-- main js -->
		<h:outputScript name="assets/js/main.js" />
		<h:outputScript name="js/main.js" />
		<ui:insert name="moreScripts" />

		<h:panelGroup id="growl">
			<h:outputScript rendered="#{not empty facesContext.messageList}">
				<ui:repeat var="msg" value="#{facesContext.messageList}">
				generateMessage("#{msg.summary}", "#{msg.detail}","#{msg.severity}");
			</ui:repeat>
			</h:outputScript>
		</h:panelGroup>

		<h:form>
			<p:dialog id="currencyDialog" closeOnEscape="false" closable="false"
				draggable="false" header="Lira Per One Dolar" modal="true"
				resizable="false" widgetVar="currencyDialogVar"
				visible="#{masterController.liraPerDolar == 0}">
				<p:inputNumber id="liraPerDialogInput"
					value="#{masterController.liraPerDolar}"
					inputStyleClass="form-control" decimalPlaces="0" symbol="LBP" />
				<f:facet name="footer">
					<h:commandLink styleClass="btn btn-success"
						onclick="PF('currencyDialogVar').hide()"
						action="#{masterController.acceptCurrency()}">
						<h:outputText value="#{app.ok}" styleClass="white" />
						<f:ajax execute="liraPerDialogInput" />
					</h:commandLink>
				</f:facet>
			</p:dialog>
		</h:form>

	</h:body>
</f:view>
</html>
