<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<h:head>
	<h:outputStylesheet library="css/pages" name="supplier-card.css" />
</h:head>


<ui:decorate template="/template/masterTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{supplierController.id}' />
		<f:event type="preRenderView"
			listener="#{supplierController.preRenderView()}" />
	</f:metadata>

	<ui:param name="maintitle" value="#{app.supplier}"></ui:param>

	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item"><h:link outcome="supplier-list">#{app.suppliers}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{supplierController.supplier.accountNumber}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">
		<o:massAttribute name="disabled"
			value="#{!supplierController.canEdit}">

			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<i class="icon fa fa-user-o icon-panel"
							style="float: left; margin-right: 8px;"></i>
						<h5>#{app.supplier}</h5>
						<div class="ibox-tools">
							<a class="collapse-link" data-toggle="collapse"
								data-target="#main-info" aria-expanded="true"> <i
								class="fa fa-chevron-up icon-panel"></i> <i
								class="fa fa-chevron-down icon-panel"></i>
							</a>
							<div class="tools-item"></div>
						</div>
						<!-- ibox-tools -->
					</div>
					<!-- / ibox-title -->
					<div class="ibox-content collapse show" id="main-info"
						aria-expanded="true" style="">

						<div class="widgets-container">
							<div class="form-group">
								<div class="col-md-6">
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="tva" styleClass="control-label"
												value="TVA:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="tva" styleClass="form-control"
												value="#{supplierController.supplier.tva}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="financialNumber"
												styleClass="control-label" value="#{app.financial_number}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="financialNumber" styleClass="form-control"
												value="#{supplierController.supplier.financialNumber}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="title" styleClass="control-label"
												value="#{app.title}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="title" styleClass="form-control"
												value="#{supplierController.supplier.title}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="supplierName" styleClass="control-label"
												value="#{app.name}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="supplierName" styleClass="form-control"
												value="#{supplierController.supplier.name}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="supplierCurrency"
												styleClass="control-label" value="#{app.currency}:" />
										</div>
										<div class="col-md-8">
											<p:selectOneMenu id="supplierCurrency"
												value="#{supplierController.supplier.currency}">
												<f:selectItem itemValue="DOLAR" itemLabel="$" />
												<f:selectItem itemValue="LIRA" itemLabel="LL" />
											</p:selectOneMenu>
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="supplierEmail" styleClass="control-label"
												value="#{app.email}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="supplierEmail" styleClass="form-control"
												value="#{supplierController.supplier.email}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="supplierPhoneNumber"
												styleClass="control-label" value="#{app.phone_number}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="supplierPhoneNumber"
												styleClass="form-control"
												value="#{supplierController.supplier.phoneNumber}" />
										</div>
									</div>
									<div class="row margin-top-two">
										<div class="col-md-4">
											<h:outputLabel for="supplierNote" styleClass="control-label"
												value="#{app.notes}:" />
										</div>
										<div class="col-md-8">
											<h:inputTextarea id="supplierNote" styleClass="form-control"
												value="#{supplierController.supplier.notes}" />
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


		</o:massAttribute>

		<!-- Note modal -->

	</ui:define>


	<ui:define name="contentFooter">
		<o:massAttribute name="disabled"
			value="#{!supplierController.canEdit}">
			<h:commandLink styleClass="btn btn-success btn-sm pull-left"
				id="SaveFormId" action="#{supplierController.save()}">
				<h:outputText styleClass="white" value="#{app.save}" />
				<f:ajax execute="@form" render="growl" />
			</h:commandLink>
		</o:massAttribute>
	</ui:define>



</ui:decorate>
</html>
