<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">
	<ui:param name="maintitle" value="#{app.visas}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.visas}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.visas}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">

		<p:dataTable value="#{visaListController.allVisas}" var="item"
			id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" paginator="true" paginatorPosition="bottom"
			paginatorAlwaysVisible="false"
			rowsPerPageTemplate="50,100,200,500,1000" rows="50"
			widgetVar="itemVar" draggableColumns="true">

			<p:column headerText="#" width="100">#{rowIndex + 1}</p:column>

			<p:column width="30" style="text-align: center">
				<p:commandLink styleClass="" title="#{app.delete}" process="@this"
					update="growl" oncomplete="PF('itemVar').filter()"
					actionListener="#{visaListController.delete(item)}">
					<i class="fa fa-trash alert-danger no-background"></i>
					<p:confirm header="#{app.confirmation}"
						message="#{app.msg_are_you_sure_to_delete}" icon="ui-icon-alert" />
				</p:commandLink>
			</p:column>

			<p:column filterBy="#{item.displayName()}"
				sortBy="#{item.displayName()}" filterMatchMode="contains"
				width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.item_id}" />
				</f:facet>
				<h:link styleClass="card-link" outcome="visa-card">
					<h:outputLabel value="#{item.displayName()}"
						title="#{item.displayName()}" styleClass="text-truncate" />
					<f:param name="id" value="#{item.id}" />
				</h:link>
			</p:column>

			<p:column filterBy="#{item.from.name}" sortBy="#{item.from.name}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.customer_name}" />
				</f:facet>
				<h:link styleClass="card-link" outcome="customer-card">
					<h:outputLabel value="#{item.from.name}" title="#{item.from.name}"
						styleClass="text-truncate" />
					<f:param name="id" value="#{item.from.id}" />
				</h:link>
			</p:column>

			<p:column filterBy="#{item.to.name}" sortBy="#{item.to.name}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.supplier_name}" />
				</f:facet>
				<h:link styleClass="card-link" outcome="supplier-card">
					<h:outputLabel value="#{item.to.name}" title="#{item.to.name}"
						styleClass="text-truncate" />
					<f:param name="id" value="#{item.to.id}" />
				</h:link>
			</p:column>

			<p:column filterBy="#{item.salesMan}" sortBy="#{item.salesMan}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.sales_man}" />
				</f:facet>
				<h:outputLabel value="#{item.salesMan}" title="#{item.salesMan}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.tax}" sortBy="#{item.tax}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.tax}" />
				</f:facet>
				<h:outputLabel value="#{item.tax}" title="#{item.tax}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.quantity}" sortBy="#{item.quantity}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.quantity}" />
				</f:facet>
				<h:outputLabel value="#{item.quantity}" title="#{item.quantity}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.cost}" sortBy="#{item.cost}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.cost}" />
				</f:facet>
				<h:outputLabel value="#{item.cost}" title="#{item.cost}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.profit}" sortBy="#{item.profit}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.profit}" />
				</f:facet>
				<h:outputLabel value="#{item.profit}" title="#{item.profit}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.selling}" sortBy="#{item.selling}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.selling}" />
				</f:facet>
				<h:outputLabel value="#{item.selling}" title="#{item.selling}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.total}" sortBy="#{item.total}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.total}" />
				</f:facet>
				<h:outputLabel value="#{item.total}" title="#{item.total}"
					styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.notes}" sortBy="#{item.notes}"
				filterMatchMode="contains" width="400">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.notes}" />
				</f:facet>
				<h:outputLabel value="#{item.notes}" title="#{item.notes}"
					styleClass="text-truncate" />
			</p:column>

		</p:dataTable>


		<p:confirmDialog global="true">
			<p:commandButton value="#{app.yes}" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="#{app.no}" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>

	</ui:define>

	<ui:define name="contentFooter">
		<div class="pull-left">
			<h:link outcome="visa-card" target="_blank"
				styleClass="btn btn-success btn-sm">
				<h:outputLabel value="#{app.new_card}" styleClass="white" />
			</h:link>
		</div>
	</ui:define>


</ui:decorate>
</html>
