<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<ui:decorate template="/template/masterTemplate.xhtml">


	<ui:param name="maintitle" value="#{app.voucher_card}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.voucher_card}"></ui:param>

	<f:metadata>
		<f:viewParam name="id" value='#{voucherController.id}' />
		<f:event type="preRenderView"
			listener="#{voucherController.preRenderView()}" />
	</f:metadata>

	<ui:define name="moreCss">
		<h:outputStylesheet name="css/pages/voucher-card.css" />
	</ui:define>

	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item"><h:link outcome="voucher-list">#{app.voucher_list}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{voucherController.voucher.voucherCode()}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">
		<o:massAttribute name="disabled" value="#{!voucherController.canEdit}">

			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<i class="icon fa fa-user-o icon-panel"
							style="float: left; margin-right: 8px;"></i>
						<h5>#{app.voucher_card}</h5>
						<div class="ibox-tools">
							<a class="collapse-link" data-toggle="collapse"
								data-target="#main-info" aria-expanded="true"> <i
								class="fa fa-chevron-up icon-panel"></i> <i
								class="fa fa-chevron-down icon-panel"></i>
							</a>
							<div class="tools-item"></div>
						</div>
						<!-- ibox-tools -->
					</div>
					<!-- / ibox-title -->
					<div class="ibox-content collapse show" id="main-info"
						aria-expanded="true" style="">

						<div class="widgets-container">
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">
										<div class="col-md-4">
											<h:outputLabel for="voucherType" styleClass="control-label"
												value="#{app.voucher_type}:" />
										</div>
										<div class="col-md-8">
											<p:selectOneMenu id="voucherType"
												value="#{voucherController.voucher.voucherType}"
												disabled="#{voucherController.disableVoucherType()}">
												<f:selectItem />
												<f:selectItem itemValue="JV" itemLabel="JV" />
												<f:selectItem itemValue="PV" itemLabel="PV" />
												<f:selectItem itemValue="RV" itemLabel="RV" />
												<f:selectItem itemValue="RE" itemLabel="RE"
													itemDisabled="true" />
												<f:selectItem itemValue="TI" itemLabel="TI"
													itemDisabled="true" />
												<f:selectItem itemValue="VS" itemLabel="VS"
													itemDisabled="true" />
												<f:selectItem itemValue="FS" itemLabel="FS"
													itemDisabled="true" />
												<f:selectItem itemValue="HS" itemLabel="HS"
													itemDisabled="true" />
												<f:selectItem itemValue="TS" itemLabel="TS"
													itemDisabled="true" />

												<p:ajax update="voucherNumber"
													listener="#{voucherController.onTypeChange}" />
											</p:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<div class="col-md-4">
											<h:outputLabel for="voucherNumber" styleClass="control-label"
												value="#{app.voucher_number}:" />
										</div>
										<div class="col-md-8">
											<h:inputText id="voucherNumber" styleClass="form-control"
												value="#{voucherController.voucher.voucherNumber}" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group left">
										<div class="col-md-4">
											<h:outputLabel for="voucherDate" styleClass="control-label"
												value="#{app.voucher_date}:" />
										</div>
										<div class="col-md-8">
											<p:calendar id="voucherDate" pattern="dd-MM-yyyy"
												value="#{voucherController.voucher.voucherDate}"
												showButtonPanel="true" navigator="true"
												inputStyleClass="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">

								<p:dataTable value="#{voucherController.voucher.voucherDatas}"
									var="item" id="itemsDataTable" rowKey="#{item.id}"
									emptyMessage="#{app.no_records_found}" rowIndexVar="rowIndex"
									paginator="true" paginatorPosition="bottom"
									paginatorAlwaysVisible="false"
									rowsPerPageTemplate="5,10,20,50,100" rows="20"
									widgetVar="itemVar">

									<f:facet name="header">
										<h:outputText styleClass="headerText"
											value="#{app.restrictions}" />
										<h:commandLink
											styleClass="btn btn-sm btn-primary headerButton"
											action="#{voucherController.addNewVoucherData()}">
											<f:ajax execute="itemsDataTable" render="totals-paneLGroup" />
											<i class="fa fa-plus white" />
										</h:commandLink>
									</f:facet>

									<p:column headerText="#" width="100">#{rowIndex + 1}</p:column>

									<p:column width="30" style="text-align: center">
										<p:commandLink styleClass="" title="#{app.delete}"
											process="@this" update="totals-paneLGroup growl"
											oncomplete="PF('itemVar').filter()"
											actionListener="#{voucherController.delete(item)}">
											<i class="fa fa-trash alert-danger no-background"></i>
											<p:confirm header="#{app.confirmation}"
												message="#{app.msg_are_you_sure_to_delete}"
												icon="ui-icon-alert" />
										</p:commandLink>
									</p:column>

									<p:column filterBy="#{item.dc}" sortBy="#{item.dc}"
										filterMatchMode="contains" width="111">
										<f:facet name="filter">
											<p:inputText onkeyup="PF('itemVar').filter()"
												placeholder="DC" />
										</f:facet>
										<p:selectOneButton value="#{item.dc}">
											<f:selectItem itemLabel="C" itemValue="C" />
											<f:selectItem itemLabel="D" itemValue="D" />
										</p:selectOneButton>
									</p:column>

									<p:column filterBy="#{item.account.displayName()}"
										sortBy="#{item.account.displayName()}"
										filterMatchMode="startsWith" width="200">
										<f:facet name="filter">
											<p:inputText onkeyup="PF('itemVar').filter()"
												placeholder="#{app.account_number}" />
										</f:facet>
										<div class="ui-inputgroup margin-left-two">
											<h:inputText id="account" styleClass="form-control"
												readonly="true" value="#{item.account.displayName()}" />
											<h:commandLink
												styleClass="btn btn-sm btn-primary chooseAccountButton"
												action="#{voucherController.selectVoucherData(item)}"
												onclick="PF('accountDialogVar').show()">
												<i class="fa fa-search white" />
												<f:ajax />
											</h:commandLink>
											<p:hotkey bind="f8"
												oncomplete="PF('accountDialogVar').show()"
												action="#{voucherController.selectVoucherData(item)}" />
										</div>
									</p:column>

									<p:column filterBy="#{item.entryDescription}"
										sortBy="#{item.entryDescription}" filterMatchMode="contains"
										width="300">
										<f:facet name="filter">
											<p:inputText onkeyup="PF('itemVar').filter()"
												placeholder="#{app.entry_description}" />
										</f:facet>
										<h:inputText styleClass="form-control"
											title="#{item.entryDescription}"
											value="#{item.entryDescription}">
											<p:ajax event="change" process="@this itemsDataTable"
												update="llEquivalent usdEquivalent totals-paneLGroup"
												listener="#{voucherController.onAmountChange}" />
											<f:attribute name="item" value="#{item}" />
										</h:inputText>
									</p:column>

									<p:column filterBy="#{item.acAmount}" sortBy="#{item.acAmount}"
										filterMatchMode="contains" width="150">
										<f:facet name="filter">
											<p:inputText onkeyup="PF('itemVar').filter()"
												placeholder="#{app.account_amount}" />
										</f:facet>
										<p:inputNumber inputStyleClass="form-control number-format"
											value="#{item.acAmount}">
											<p:ajax event="change" process="@this itemsDataTable"
												update="llEquivalent usdEquivalent totals-paneLGroup"
												listener="#{voucherController.onAmountChange}" />
											<f:attribute name="item" value="#{item}" />
										</p:inputNumber>
									</p:column>

									<p:column filterBy="#{item.llEquivalent}"
										sortBy="#{item.llEquivalent}" filterMatchMode="contains"
										width="150">
										<f:facet name="filter">
											<p:inputText onkeyup="PF('itemVar').filter()"
												placeholder="#{app.amount_ll}" />
										</f:facet>
										<p:inputNumber id="llEquivalent"
											inputStyleClass="form-control number-format"
											value="#{item.llEquivalent}" />
									</p:column>

									<p:column filterBy="#{item.usdEquivalent}"
										sortBy="#{item.usdEquivalent}" filterMatchMode="contains"
										width="150">
										<f:facet name="filter">
											<p:inputText onkeyup="PF('itemVar').filter()"
												placeholder="#{app.amount_usd}" />
										</f:facet>
										<p:inputNumber id="usdEquivalent"
											inputStyleClass="form-control number-format"
											value="#{item.usdEquivalent}" />
									</p:column>


								</p:dataTable>

								<p:confirmDialog global="true">
									<p:commandButton value="#{app.yes}" type="button"
										styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
									<p:commandButton value="#{app.no}" type="button"
										styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								</p:confirmDialog>

								<p:dialog id="accountDialogId" widgetVar="accountDialogVar"
									styleClass="accountDialogClass" modal="true" fitViewport="true"
									closeOnEscape="true" closable="false" draggable="true"
									resizable="false" width="750">


									<f:facet name="header">
										<h:outputText value="#{app.accounts}" />
									</f:facet>

									<p:dataTable value="#{voucherController.allAccounts}"
										var="item" id="accountDataTable"
										emptyMessage="#{app.no_records_found}" rowIndexVar="rowIndex"
										paginator="true" paginatorPosition="bottom"
										paginatorAlwaysVisible="false"
										rowsPerPageTemplate="10,50,100,200,500,1000" rows="10"
										widgetVar="accountVar" rowKey="#{item.id}"
										selectionMode="single"
										selection="#{voucherController.selectedAccount}">

										<p:column headerText="#" width="100">#{rowIndex + 1}</p:column>

										<p:column filterBy="#{item.displayName()}"
											sortBy="#{item.displayName()}" filterMatchMode="contains"
											width="200">
											<f:facet name="filter">
												<p:inputText onkeyup="PF('accountVar').filter()"
													placeholder="#{app.account_number}" />
											</f:facet>
											<!-- 											<h:link styleClass="card-link" outcome="cash-card"> -->
											<h:outputLabel value="#{item.displayName()}"
												title="#{item.displayName()}" styleClass="text-truncate" />
											<!-- 												<f:param name="id" value="#{item.id}" /> -->
											<!-- 											</h:link> -->
										</p:column>

										<p:column filterBy="#{item.currency}"
											sortBy="#{item.currency}" filterMatchMode="contains"
											width="200">
											<f:facet name="filter">
												<p:inputText onkeyup="PF('accountVar').filter()"
													placeholder="#{app.currency}" />
											</f:facet>
											<h:outputLabel value="#{item.currency}"
												title="#{item.currency}" styleClass="text-truncate" />
										</p:column>


										<p:column filterBy="#{item.notes}" sortBy="#{item.notes}"
											filterMatchMode="contains" width="200">
											<f:facet name="filter">
												<p:inputText onkeyup="PF('accountVar').filter()"
													placeholder="#{app.notes}" />
											</f:facet>
											<h:outputLabel value="#{item.notes}" title="#{item.notes}"
												styleClass="text-truncate" />
										</p:column>

									</p:dataTable>

									<f:facet name="footer">
										<h:commandLink styleClass="btn btn-success margin-left-half"
											action="#{voucherController.selectAccountAction()}"
											onclick="PF('accountDialogVar').hide()">
											<h:outputText value="#{app.ok}" styleClass="white" />
											<f:ajax execute="accountDataTable" />
										</h:commandLink>
										<h:commandLink styleClass="btn btn-danger"
											onclick="PF('accountDialogVar').hide()">
											<h:outputText value="#{app.cancel}" styleClass="white" />
											<f:ajax execute="accountDataTable" />
										</h:commandLink>
									</f:facet>

								</p:dialog>
							</div>
						</div>

					</div>
				</div>

				<div class="col-md-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<i class="icon fa fa-user-o icon-panel"
								style="float: left; margin-right: 8px;"></i>
							<h5>#{app.voucher_card}</h5>
							<div class="ibox-tools">
								<a class="collapse-link" data-toggle="collapse"
									data-target="#main-info" aria-expanded="true"> <i
									class="fa fa-chevron-up icon-panel"></i> <i
									class="fa fa-chevron-down icon-panel"></i>
								</a>
								<div class="tools-item"></div>
							</div>
							<!-- ibox-tools -->
						</div>
						<!-- / ibox-title -->
						<div class="ibox-content collapse show" id="main-info"
							aria-expanded="true" style="">
							<div class="widgets-container">


								<h:panelGroup id="totals-paneLGroup">
									<div class="row">
										<div class="col-md-6 border-left">
											<div class="col-md-12">
												<div class="form-group">
													<div class="col-md-8">
														<h:outputLabel value="#{app.total_dr_ll}"
															styleClass="control-label" />
													</div>
													<div class="col-md-8">
														<h:inputText styleClass="form-control totals"
															readonly="true"
															value="#{voucherController.voucher.totalDrLL()}" />
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<div class="col-md-8">
														<h:outputLabel value="#{app.total_cr_ll}"
															styleClass="control-label" />
													</div>
													<div class="col-md-8">
														<h:inputText styleClass="form-control totals"
															readonly="true"
															value="#{voucherController.voucher.totalCrLL()}" />
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<div class="col-md-8">
														<h:outputLabel value="#{app.balance_ll}"
															styleClass="control-label" />
													</div>
													<div class="col-md-8">
														<h:inputText styleClass="form-control totals"
															readonly="true"
															value="#{voucherController.voucher.balanceLL()}" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="col-md-12">
												<div class="form-group">
													<div class="col-md-8">
														<h:outputLabel value="#{app.total_dr_usd}"
															styleClass="control-label" />
													</div>
													<div class="col-md-8">
														<h:inputText styleClass="form-control totals"
															readonly="true"
															value="#{voucherController.voucher.totalDrUSD()}" />
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<div class="col-md-8">
														<h:outputLabel value="#{app.total_cr_usd}"
															styleClass="control-label" />
													</div>
													<div class="col-md-8">
														<h:inputText styleClass="form-control totals"
															readonly="true"
															value="#{voucherController.voucher.totalCrUSD()}" />
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<div class="col-md-8">
														<h:outputLabel value="#{app.balance_usd}"
															styleClass="control-label" />
													</div>
													<div class="col-md-8">
														<h:inputText styleClass="form-control totals"
															readonly="true"
															value="#{voucherController.voucher.balanceUSD()}" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</h:panelGroup>
							</div>
						</div>
					</div>
				</div>

			</div>

		</o:massAttribute>

		<!-- Note modal -->

	</ui:define>


	<ui:define name="contentFooter">
		<o:massAttribute name="disabled" value="#{!voucherController.canEdit}">
			<h:commandLink styleClass="btn btn-success btn-sm pull-left"
				id="SaveFormId" action="#{voucherController.save()}">
				<h:outputText styleClass="white" value="#{app.save}" />
				<f:ajax execute="@form" render="growl" />
			</h:commandLink>
			<p:commandLink action="#{voucherController.printOrder()}"
				styleClass="btn btn-info btn-sm margin-left-one" ajax="false">
				<h:outputText styleClass="white" value="Print Voucher" />
			</p:commandLink>
			<p:commandLink action="#{voucherController.printInvoice()}"
				rendered="#{voucherController.printingInvoiceVisible}"
				styleClass="btn btn-primary btn-sm margin-left-one" ajax="false">
				<h:outputText styleClass="white" value="Print Invoice" />
			</p:commandLink>
		</o:massAttribute>
	</ui:define>


</ui:decorate>
</html>
