<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>
<ui:decorate template="/template/masterTemplate.xhtml">


	<f:metadata>
		<f:event type="preRenderView"
			listener="#{voucherListController.init()}" />
	</f:metadata>


	<ui:param name="maintitle" value="#{app.voucher_list}"></ui:param>
	<ui:param name="pageSubTitle" value="#{app.voucher_list}"></ui:param>
	<ui:define name="breadcrumb-items">
		<li class="breadcrumb-item"><h:link outcome="home">#{app.home}</h:link></li>
		<li class="breadcrumb-item active"><strong>#{app.voucher_list}</strong>
		</li>
	</ui:define>


	<ui:define name="contentInForm">


		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<div class="col-md-4">
						<h:outputLabel value="#{app.from_date}" styleClass="control-label" />
					</div>
					<div class="col-md-8">
						<p:calendar id="fromDate" pattern="dd-MM-yyyy"
							value="#{voucherListController.fromDate}" showButtonPanel="true"
							navigator="true" inputStyleClass="form-control" />
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<div class="col-md-4">
						<h:outputLabel value="#{app.to_date}" styleClass="control-label" />
					</div>
					<div class="col-md-8">
						<p:calendar id="toDate" pattern="dd-MM-yyyy"
							value="#{voucherListController.toDate}" showButtonPanel="true"
							navigator="true" inputStyleClass="form-control" />
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<div class="col-md-4">
						<h:outputLabel value="#{app.type}" styleClass="control-label" />
					</div>
					<div class="col-md-8">
						<p:selectOneMenu id="voucherType"
							value="#{voucherListController.voucherType}"
							placeholder="#{app.type}">
							<f:selectItem />
							<f:selectItem itemValue="JV" itemLabel="JV" />
							<f:selectItem itemValue="PV" itemLabel="PV" />
							<f:selectItem itemValue="RV" itemLabel="RV" />
							<f:selectItem itemValue="RE" itemLabel="RE" />
							<f:selectItem itemValue="TI" itemLabel="TI" />
							<f:selectItem itemValue="VS" itemLabel="VS" />
							<f:selectItem itemValue="FS" itemLabel="FS" />
							<f:selectItem itemValue="HS" itemLabel="HS" />
							<f:selectItem itemValue="TS" itemLabel="TS" />
						</p:selectOneMenu>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<h:commandLink action="#{voucherListController.search()}"
					styleClass="btn btn-success margin-top-two">
					<h:outputText value="#{app.search}" />
					<f:ajax execute="fromDate toDate voucherType"
						render="itemsDataTable" />
				</h:commandLink>
			</div>
		</div>

		<p:dataTable value="#{voucherListController.allVouchers}"
			selection="#{voucherListController.selectedVouchers}" var="item"
			id="itemsDataTable" emptyMessage="#{app.no_records_found}"
			rowIndexVar="rowIndex" paginator="true" paginatorPosition="bottom"
			paginatorAlwaysVisible="false" rowKey="#{item.id}"
			rowsPerPageTemplate="50,100,200,500,1000" rows="50"
			widgetVar="itemVar" draggableColumns="true">

			<p:column selectionMode="multiple"
				style="width:32px;text-align:center" />

			<p:column headerText="#" width="100">#{rowIndex + 1}</p:column>

			<p:column width="30" style="text-align: center">
				<p:commandLink styleClass="" title="#{app.delete}" process="@this"
					update="growl" oncomplete="PF('itemVar').filter()"
					actionListener="#{voucherListController.delete(item)}">
					<i class="fa fa-trash alert-danger no-background"></i>
					<p:confirm header="#{app.confirmation}"
						message="#{app.msg_are_you_sure_to_delete}" icon="ui-icon-alert" />
				</p:commandLink>
			</p:column>

			<p:column filterBy="#{item.voucherDate}" sortBy="#{item.voucherDate}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.voucher_date}" />
				</f:facet>
				<h:outputLabel value="#{item.voucherDate}"
					title="#{item.voucherDate}" styleClass="text-truncate">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:outputLabel>
			</p:column>

			<p:column filterBy="#{item.voucherCode()}"
				sortBy="#{item.voucherCode()}" filterMatchMode="contains"
				width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.voucher_number}" />
				</f:facet>
				<h:link outcome="voucher-card" styleClass="card-link">
					<h:outputLabel value="#{item.voucherCode()}"
						title="#{item.voucherCode()}" styleClass="text-truncate" />
					<f:param name="id" value="#{item.id}" />
				</h:link>
			</p:column>

			<p:column filterBy="#{item.ticketNumberByVoucher}"
				sortBy="#{item.ticketNumberByVoucher}" filterMatchMode="contains"
				width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="Ticket Number" />
				</f:facet>
				<h:outputLabel value="#{item.ticketNumberByVoucher}"
					title="#{item.ticketNumberByVoucher}" styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.voucherType}" sortBy="#{item.voucherType}"
				filterMatchMode="contains" width="150">
				<f:facet name="filter">
					<p:selectOneMenu placeholder="#{app.type}"
						onchange="PF('itemVar').filter()">
						<f:selectItem />
						<f:selectItem itemValue="JV" itemLabel="JV" />
						<f:selectItem itemValue="PV" itemLabel="PV" />
						<f:selectItem itemValue="RV" itemLabel="RV" />
						<f:selectItem itemValue="RE" itemLabel="RE" />
						<f:selectItem itemValue="TI" itemLabel="TI" />
						<f:selectItem itemValue="VS" itemLabel="VS" />
						<f:selectItem itemValue="FS" itemLabel="FS" />
						<f:selectItem itemValue="HS" itemLabel="HS" />
						<f:selectItem itemValue="TS" itemLabel="TS" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputLabel value="#{item.voucherType}"
					title="#{item.voucherType}" styleClass="text-truncate" />
			</p:column>

			<p:column filterBy="#{item.totalCrLL()}" sortBy="#{item.totalCrLL()}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.total_cr_ll}" />
				</f:facet>
				<h:outputLabel value="#{item.totalCrLL()}"
					title="#{item.totalCrLL()}"
					styleClass="text-truncate direction_ltr">
					<f:convertNumber locale="en-US" />
				</h:outputLabel>
			</p:column>

			<p:column filterBy="#{item.totalDrLL()}" sortBy="#{item.totalDrLL()}"
				filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.total_dr_ll}" />
				</f:facet>
				<h:outputLabel value="#{item.totalDrLL()}"
					title="#{item.totalDrLL()}"
					styleClass="text-truncate direction_ltr">
					<f:convertNumber locale="en-US" />
				</h:outputLabel>
			</p:column>

			<p:column filterBy="#{item.totalCrUSD()}"
				sortBy="#{item.totalCrUSD()}" filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.total_cr_usd}" />
				</f:facet>
				<h:outputLabel value="#{item.totalCrUSD()}"
					title="#{item.totalCrUSD()}"
					styleClass="text-truncate direction_ltr">
					<f:convertNumber locale="en-US" />
				</h:outputLabel>
			</p:column>

			<p:column filterBy="#{item.totalDrUSD()}"
				sortBy="#{item.totalDrUSD()}" filterMatchMode="contains" width="200">
				<f:facet name="filter">
					<p:inputText onkeyup="PF('itemVar').filter()"
						placeholder="#{app.total_dr_usd}" />
				</f:facet>
				<h:outputLabel value="#{item.totalDrUSD()}"
					title="#{item.totalDrUSD()}"
					styleClass="text-truncate direction_ltr">
					<f:convertNumber locale="en-US" />
				</h:outputLabel>
			</p:column>



		</p:dataTable>


		<p:confirmDialog global="true">
			<p:commandButton value="#{app.yes}" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="#{app.no}" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>

	</ui:define>

	<ui:define name="contentFooter">
		<div class="pull-left">
			<p:commandLink styleClass="btn btn-danger margin-left-one"
				title="#{app.delete}" process="@form" update="growl"
				oncomplete="PF('itemVar').filter()"
				actionListener="#{voucherListController.deleteList()}">
				<h:outputText styleClass="white" value="#{app.delete_many}" />
				<p:confirm header="#{app.confirmation}"
					message="#{app.msg_are_you_sure_to_delete}" icon="ui-icon-alert" />
			</p:commandLink>
			<h:link outcome="voucher-card" target="_blank"
				styleClass="btn btn-success">
				<h:outputLabel value="#{app.new_card}" styleClass="white" />
			</h:link>
		</div>
	</ui:define>


</ui:decorate>
</html>
